[2015-12-05 21:55] teran-mckinney opened #1 "Build error on FreeBSD"
[code]

I think I've had that with and without `--with-incompatible-bdb`. I am running two jobs as well, but not sure if that's causing the problem.

[2015-12-05 22:28] teran-mckinney opened #2 "git clone --depth=1 and git reset --hard; git push -f?"
Hi,

This is a huge repository coming from Bitcoin initially. Are you planning to cherry pick things from upstream Bitcoin/BitcoinXT? If so, does having the commit history help?

I wonder if it would be worth it to reset the repo to the state where you started modifying it for lbrycrd. Would really shrink it down, possibly with no side-effects (maybe something legally?).

This is very minor and ni

[2015-12-06 00:15] teran-mckinney commented on #1
Tried a few variations, including with just -j1. No luck.

Do you know what's going on here?

Thanks,
Teran

[2015-12-06 21:37] jimmykiselak commented on #1
I haven't tried building lbrycrdd on freebsd in a while. I'll try it again and let you know what I come up with.

[2015-12-06 22:53] teran-mckinney commented on #1
Thank you! I've had good luck with Bitcoin and BitcoinXT, so it seems it should be quite doable.

[2015-12-15 22:56] jimmykiselak commented on #1
I got lbrycrd to build successfully on 10.2-RELEASE.
I built Berkeley db 4.8 from ports/databases/db48/ and the only tricky part was specifying the paths to the bdb headers and lib. For the configure step, I did:

    ./configure LDFLAGS="-L/usr/local/lib/db48/" CPPFLAGS="-I/usr/local/include/db48/"

and that did the trick.

[2015-12-16 17:05] teran-mckinney commented on #1
Awesome, thanks! I'll give that a try some time.

[2016-03-16 03:08] whitslack commented on #2
@teran-mckinney There's no reason to erase history from the repository on GitHub, and keeping the history allows automated merging from upstream. If you don't want to download the full history when checking out `lbryio/lbrycrd`, you can do a shallow clone.

[2016-03-16 15:22] teran-mckinney commented on #2
That's fair, I think you're right.

Thanks!

[2016-03-16 15:22] #2 closed

[2016-07-05 04:56] ELM4Ever opened #10 "Build error on MacOS"
MacOS 10.11.5

./autogen.sh and ./configure went well.  With "make" - I am getting the following error:

Making all in src
  CXX      crypto/libbitcoinconsensus_la-hmac_sha256.lo
  CXX      crypto/libbitcoinconsensus_la-hmac_sha512.lo
  CXX      crypto/libbitcoinconsensus_la-ripemd160.lo
  CXX      crypto/libbitcoinconsensus_la-sha1.lo
  CXX      crypto/libbitcoinconsensus_la-sha256.lo
  CXX

[2016-07-12 06:01] ELM4Ever commented on #10
Something in the latest fixes got rid of the issue - was able to compile the binary today.

[2016-07-12 06:01] #10 closed

[2016-07-18 21:35] kaykurokawa opened #20 "Claim expiration time is set to 262974 blocks, or 456.55... days"
https://github.com/lbryio/lbrycrd/blob/master/src/claimtrie.h#L285

Claim expiration time is set to 262974 blocks or 456.55... days.

Should be set to 52416 blocks or 91 days, according to original design document. Will require hard fork and reindexing.

We have roughly till the end of August to fix this issue in a simple way. Otherwise there needs to be exceptions made for early blocks.

[2016-07-18 21:45] kaykurokawa opened #21 "Remove claim expiration"
As discovered by @jimmykiselak

Expired claims are not kept track of by claimtrie.cpp , thus they are not updateable using OP_UPDATE_CLAIM. Name owners can only reclaim the expired claim through OP_CLAIM_NAME , which means that all supports must be updated as well.

Expired claims should be kept track of, so they can be updated.

This is a hard fork and will require reindexing. We have roughly til

[2016-07-22 14:56] kaykurokawa opened #25 "Dust threshold could be re-enabled"
Dust threshold could be re-enabled now (dust is 3000 satoshis/deweys)

https://github.com/lbryio/lbrycrd/commit/a6984a9d72f9231ff850050b0193342a1ce8c043

[2016-07-22 15:03] kaykurokawa opened #26 "Lbrycrd needs version scheme"
Need to figure out how versions will be set

https://github.com/lbryio/lbrycrd/blob/da53f17a28cb7609fdb421a82ac58f9a1649a30f/src/clientversion.h

[2016-07-25 22:25] kaykurokawa opened #27 "Byte size of value that can be assigned to name is not 20 kilobytes"
The current maximum value that can be assigned to a name is not 20 kilobytes as some has described. It is less than 8192 bytes.

https://github.com/lbryio/lbrycrd/blob/master/src/nameclaim.h#L11

This will require a hard fork.

[2016-07-25 22:42] kaykurokawa commented on #26
Sensible proposal :
Major , Minor follows Bitcoin Core code (would be 12.0 currently)
Client version build is used to track major lbry releases within the Core code base ( Increment from 0 up to 99). Current version could be 1 after soft fork at https://github.com/lbryio/lbrycrd/commit/874948ec59b7958f4212522f0b0b1f1b9cb224fb

[2016-07-28 19:15] jackrobison opened #28 "Include support total in getvalueforname"
getvalueforname presently returns the amount in the claim, without adding amounts from supports with the same claimid.

[2016-07-28 19:21] jackrobison opened #29 "List supports for a claim and list my active supports"
You can support claims, but there is no readily accessible way to view your active supports, or to view the supports for another claim. These functions would presumably return lists of txids.

[2016-07-28 22:43] kaykurokawa commented on #28
See https://github.com/lbryio/lbrycrd/pull/30

[2016-08-01 18:29] kaykurokawa commented on #29
https://github.com/lbryio/lbrycrd/pull/15 should take care of this

[2016-08-07 22:01] kaykurokawa opened #33 "Effective amount in getvalueforname rpc command does not return correct value"
RPC command getvalueforname does not return correct value for "effective amount"

This is because effective amount is not serialized when serializing CClaimValue ( https://github.com/lbryio/lbrycrd/blob/master/src/claimtrie.h#L50 ). Thus reading nEffectiveAmount will not return proper value until a reorder is initiated by the claimtrie.

Effective amount should be calculated by obtaining its suppo

[2016-08-08 01:32] kaykurokawa commented on #25
Dust threshold enabled in pull request:  https://github.com/lbryio/lbrycrd/pull/34

[2016-08-08 13:34] jobevers commented on #26
One nit - major.minor is currently `0.12` not `12.0`.

When you say client version, what do you mean?

Regarding tracking lbry releases - I don't understand what happens when it gets reset to 1; it seems that something else should get incremented when that happens.

[2016-08-08 15:45] kaykurokawa commented on #26
You are right about the first point, to clarify , the Bitcoin Core version we are using is 0.12.0 (it is not really 0.12.99 , the 99 is a place holder indicating that it is not a release version)

We use the first two numbers from the Bitcoin core version we are using, and than the last number gets incremented according to our releases. So we get 0.12.1 to 0.12.2 etc...

[2016-08-13 02:59] kaykurokawa commented on #20
Team discussion on 8/12 concluded that we will look to extend the expiration time. 365 days was tentatively suggested as a possible expiration time.

[2016-08-17 00:00] lyoshenka opened #40 "Feature Request: sendfromaddress command that keeps change in original address"
**Edit: If working on this issue, please see [PR#82](https://github.com/lbryio/lbrycrd/pull/82) and either use this as a starting place or at least see the comments.**

I'd like a way to send credits from a specific address and keep the change in that address. Jack and I talked about calling it `sendfromaddress`. I'm not in love with that name (there are already several sendfrom/sendto commands) b

[2016-08-17 00:02] lyoshenka commented on #40
@jimmykiselak @kaykurokawa let me know how long you think this would take

[2016-08-17 15:55] kaykurokawa commented on #40
Not sure I understand why you really need this? Can you describe why you don't want the change to go into a change address?

[2016-08-17 16:21] kimihiro64 commented on #40
The goal is so that a particular address can be given a long-standing purpose (also helps with accounting). Like, large wallet has many addresses, but this address will be used for certain spends (bounties for example) whereas another address will be used for a different category of spend (referrals for example).

[2016-08-17 16:21] lyoshenka commented on #40
The main purpose is transparency/accounting. Here are several use cases:

- We have a few wallets [here](https://explorer.lbry.io/richlist) labeled "LBRY Hot Wallet". Every time we spend from those hot wallets, hot wallet address changes. You can already see that the fifth wallet (Jack's hot wallet) is not labeled because he spent from it at some point. If we could easily send change back to the o

[2016-08-17 18:35] kaykurokawa commented on #40
So it sounds like you need a user interface to do this so you can just use coin control through the GUI  , (Go to settings->Wallet-> and check enable coin control ). This will give you an interface when sending coins to specify your change address. I thin this should be sufficient for your need unless you really need an RPC command ( On the RPC side, you could use the command createrawtransaction,

[2016-08-17 21:05] lyoshenka commented on #40
The GUI is only for lbryum. I'd like this in lbrycrd as well. I don't *need* it, its more of a nice-to-have. I have used raw transactions in the past but it's annoying and I'm constantly scared I'll mess something up.

[2016-08-17 21:07] lyoshenka commented on #40
And actually, it would be nice as an RPC command for things like the invites wallet (which uses lbrycrd RPC).

[2016-08-17 23:16] jackrobison commented on #40
In lbryum there's a -F flag for the from address and -c for a change address. I think something like that would be preferable to a dedicated sendfromaddress command.

[2016-08-18 00:52] jimmykiselak commented on #26
How is this going to handle future pulls from upstream?

[2016-08-18 01:05] lyoshenka commented on #40
I agree, but that would be totally inconsistent with the way lbrycrd-cli works.

[2016-08-18 03:01] kaykurokawa commented on #40
@lyoshenka, there is a GUI for lbrycrd, it'll be compiled under the /src/qt folder

I don't want to change how old rpc commands work, but I can either make a new command, or perhaps create a python script that utilizes the rpc commands and do what you want. I'm leaning towards the python script because it'll be easier.

[2016-08-18 23:09] lyoshenka commented on #40
I'd prefer it as an RPC command so its easy for other scripts to interact with it. But if its significantly longer to do it that way, I'll take a python script.

[2016-08-18 23:17] lyoshenka commented on #40
Actually, I have a python script that does it (wrote it a while ago, thought I lost it). Still would prefer it in lbrycrd.

This is not really a priority. Maybe we can ask someone else to do this for us?

[2016-08-19 00:38] kaykurokawa commented on #40
could be a good bounty thing

[2016-08-22 18:27] kaykurokawa commented on #29
I think this can be closed now with #15 being merged

[2016-08-26 16:45] kaykurokawa commented on #26
For example , if bitcoin release is 0.12.0.1 our release is 0.12.0.X where X is some custom number we use. The last number in Bitcoin is for client builds which are usually not major changes, so we can use it to keep track of changes unique to Lbrycrd.

[2016-08-29 19:00] #29 closed

[2016-08-31 19:57] kaykurokawa opened #42 "lbrycrd-cli Info still says "BTC""
from @theunrealtok

error message:
getwalletinfo
Returns an object containing various wallet state info.

Result:
{
"walletversion": xxxxx, (numeric) the wallet version
"balance": xxxxxxx, (numeric) the total confirmed balance of the wallet in BTC
"unconfirmed_balance": xxx, (numeric) the total unconfirmed balance of the wallet in BTC
"immature_balance": xxxxxx, (numeric) the total immature balanc

[2016-09-06 01:13] abueide commented on #27
@kaykurokawa what would the effects of a hard fork be?

[2016-09-06 02:19] kaykurokawa commented on #26
closed as https://github.com/lbryio/lbrycrd/pull/37

[2016-09-06 02:19] #26 closed

[2016-09-07 19:28] OppenheimerAndTheMartians commented on #40
Hello,

I'm new to LBRY and trying to find some way I can contribute. I can't say I have a lot of experience with blockchain tech, but I do have some with C++. Are you still looking for someone to enhance this feature?

[2016-09-07 20:59] lyoshenka commented on #40
Yea, go for it. If you can understand c++ well, I think this shouldn't be too hard. You can take a look at how `sendtoaddress` works - that's where I started. If you get stuck, we'll do our best to help.

Also , it doesn't have to be called `sendfromaddress`. I'm open to a better name.

[2016-09-07 21:45] OppenheimerAndTheMartians commented on #40
Where in the code is it? I'm sorry, I'm still figuring everything out.

[2016-09-08 14:10] lyoshenka commented on #40
I would start with
https://github.com/lbryio/lbrycrd/blob/774246d16f0d6de2e02c2e319f316953a17f6764/src/wallet/rpcwallet.cpp#L955

On Wed, Sep 7, 2016 at 5:45 PM, OppenheimerAndTheMartians <
notifications@github.com> wrote:

[2016-09-10 10:55] OppenheimerAndTheMartians commented on #40
I've begun working on the pseudocode for this. Sorry it took me a couple of days, I'm still getting set in my routines on my end...

How does transfercredit or transferfromaddress sound as a name, BTW?

[2016-09-12 15:25] lyoshenka commented on #40
transferfromaddress is not bad. That sort of implies that the change is
staying in the original address

On Sat, Sep 10, 2016 at 6:55 AM, OppenheimerAndTheMartians <
notifications@github.com> wrote:

[2016-09-12 22:52] kaykurokawa opened #44 "Add minconf param to claimtrie RPC commands"
The following commands need a `minconf` param to specify how many confirmations are required (aka how many blocks back to look). Default minconf should be 6, like other commands (e.g. listnameclaims).

- getclaimsforname
- getclaimsintrie
- getclaimtrie
- getvalueforname

[2016-09-13 07:46] kauffj commented on #44
If you change this, please parameterize this. I do not want 6 to be the
only option.

On Mon, Sep 12, 2016 at 6:52 PM, Umpei Kay Kurokawa <
notifications@github.com> wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2016-10-12 16:51] lyoshenka opened #46 "lbrycrdd created invalid transaction, thinks address is empty even though its not"
[code]

near the bottom, it looks like an invalid transaction was created
it was created using a script, but the script just calls `lbrycrd-cli sendtoaddress`
anyway, the transaction was supposed to spent from the address `bWLB555cGfRcW4eCPBQgPScmocZoMPNGCd`, which is where the previous transaction (d5e2963d45dbf17a6eea65967de1a9dc44fe47f74420e3b73a3da62308e2aa76) sent its change
however, the wall

[2016-10-18 16:41] #25 closed

[2016-10-18 16:42] jobevers opened #48 "change CLIENT_VERSION_IS_RELEASE to true"
Instead of https://github.com/lbryio/lbrycrd/pull/43, should change:

https://github.com/lbryio/lbrycrd/blob/master/src/clientversion.h#L23

[2016-10-27 15:08] kaykurokawa commented on #48
fixed as https://github.com/lbryio/lbrycrd/pull/49

[2016-10-27 15:08] #48 closed

[2017-01-11 18:47] kaykurokawa commented on #33
Fixed with https://github.com/lbryio/lbrycrd/pull/55

[2017-01-11 18:47] #33 closed

[2017-01-18 20:11] janellebradleyZ8p opened #57 "aborted on ubuntu 14.04"
lbrycrdd: main.cpp:2387: bool ConnectBlock(const CBlock&, CValidationState&, CBlockIndex*, CCoinsViewCache&, CClaimTrieCache&, bool): Assertion `hashPrevBlock == trieCache.getBestBlock()' failed.

Tried binaries and now I also got same error even when compiled myself.

[2017-01-19 20:28] kaykurokawa commented on #57
did you try compiling from the current master?

[2017-01-19 21:02] janellebradleyZ8p commented on #57
Yes I did, the error above appeard only when I started daemon with conf file.

I run it now with on in command line.

[2017-03-23 01:59] r3c0d3x commented on #42
In [src/amount.cpp, line 10](https://github.com/lbryio/lbrycrd/blob/5913a70f7ee3bb20cc663b01259af8b1f3c37999/src/amount.cpp#L10):
[code]

[2017-04-14 17:24] #57 closed

[2017-04-14 17:25] #1 closed

[2017-04-14 17:26] #28 closed

[2017-05-05 01:16] tpruvot commented on #44
add a minconf argument like other rpc commands maybe ?

[2017-06-01 15:12] lyoshenka commented on #40
Sounds like nothing's happening here. Closing.

[2017-06-01 15:14] lyoshenka commented on #42
Fixed by #61

[2017-06-01 15:14] #42 closed

[2017-06-12 23:20] akinwale opened #63 "dumpprivkey returning a 52-character base58 string starting with '5'"
Based on https://en.bitcoin.it/wiki/Private_key#Base58_Wallet_Import_format, The Wallet Import Format key is expected to be a 51-character base58 string, but dumpprivkey is returning a 52-character string which cannot be properly converted to a base58 address based on the public key.

Just for reference, https://en.bitcoin.it/wiki/Wallet_import_format shows steps for converting a private key to/fr

[2017-06-13 14:49] kaykurokawa commented on #63
if the private key is compressed it has 52 characters :
https://bitcoin.org/en/developer-guide#wallet-import-format-wif

see step 3:
Append a 0x01 byte after it if it should be used with compressed public keys (described in a later subsection). Nothing is appended if it is used with uncompressed public keys.

[2017-06-13 14:49] #63 closed

[2017-06-13 20:40] akinwale commented on #63
This doesn't change the fact that the dumped private key is invalid, though. The base58 strings for compressed keys are expected to start with a 'K' or an 'L'.

Another tool you can use to test dumped private keys is bitaddress.org.

[2017-06-14 13:22] lyoshenka commented on #46
@kaykurokawa did you ever look into this? if this hasn't come up since, maybe we can close this issue.

[2017-06-29 03:33] zhci opened #64 "build failed on mac"
When I build lbrycrd on mac, there was error like this:

[2017-06-29 21:09] caseyparker commented on #64
I've got the same issue.

[2017-06-30 20:30] kauffj opened #65 "Case-insensitive claims"
LBRY URLs ought to be case-insensitive, the way traditional domains are. Two claims with names with different case-sensitivity should be considered having the same name.

[2017-07-24 16:47] kauffj opened #66 "2 pools (yiimp based) reporting Rejects / claimtrie issues?"
_From @tzarebczan on July 24, 2017 16:23_

So we are getting reports from a couple pools about rejects leading to them not finding blocks. Something about our claimtrie. However the large suprnova pool seems to deal with it.

reject and debug logs from @reymus pool (quantumrage) - using same yiimp implementation as Epsylon. http://quantumrage.com/files/errorlogs.tar.gz

BCT Thread where he mention

[2017-07-25 04:14] finer9 commented on #66
So we've been basically removed from YIMP due to this.  They were never a huge pool but are quality and I wish we could figure this out.

[2017-07-25 04:15] finer9 commented on #66
If I recall epsylon is on github and perhaps we can tag him

[2017-07-25 04:21] tpruvot commented on #66
I dont have the logs anymore, last reject was the 20 july and i had to restart the machine the 21 or 22

[2017-07-25 04:23] finer9 commented on #66
ah thanks for replying.  Do you have any idea how pools like suprnova handle this?  Do you think we need changes to our claimtrie?

[2017-07-25 04:23] tpruvot commented on #66
i guess he get more blocks, so dont care about the % of rejects, will ask him

[2017-07-25 04:24] finer9 commented on #66
@kaykurokawa appreciate you looking at this when possible

[2017-07-25 04:24] tpruvot commented on #66
but the reject reason was always the same... claimtrie not updated fast enough...

[2017-08-11 11:31] avoloshko commented on #64
any progress?

[2017-08-11 21:39] kauffj commented on #64
Our protocol devs are pretty swamped so it is somewhat unlikely this will become a top issue soon. If anyone is capable or interested to tackle this, we'd be happy to bounty this.

[2017-08-12 01:25] zhci commented on #64
I think the code fall behind bitcoin core a lot, when I track this error. There was big difference between core code.

[2017-08-14 15:53] kauffj commented on #27
I'm closing this, we're keeping it at 8KB for now.

[2017-08-14 15:53] #27 closed

[2017-08-14 16:05] kauffj commented on #20
I see no need to change this, and certainly not to reduce it.

[2017-08-14 16:05] #20 closed

[2017-08-14 16:07] kauffj commented on #21
@kaykurokawa looks like we'd need to do something this month if we're going to address this.

What would it look like to just have claims never expire? It seems like this may be more desirable. Doing some quick math, 1e9 pieces (1 billion) would require 5000 updates per block just to keep content published.

[2017-08-25 19:43] avoloshko commented on #10
It fails on MaOS, but works fine on ubuntu.

[2017-09-03 10:33] ikeydoherty opened #69 "Custom crypto = scary scary"
I know this is inherited from the BTC fork, however I'd like to point out the obvious issue of having custom crypto code. It's basically rule #1 of any project, never reinvent crypto. Looking at the basic crypto requirements in lbrycrd it seems this could more easily be resolved with OpenSSL, gnutls, etc (Given that the requirement effectively seems to be hash/hmac centric)

Soo would you consider

[2017-09-04 16:40] lyoshenka commented on #69
Has bitcoin changed anything here? I'm aware of the dangers of rolling your own crypto. At the same time, bitcoin has far more developers and cryptographers looking at their code. If they're still using the same crypto, I'd rather not mess with it.

[2017-09-06 14:42] #69 closed

[2017-09-13 14:50] tzarebczan commented on #21
@kauffj / @kaykurokawa / @jackrobison I remember discussing this on one of the calls, not sure if we had to take any action.

[2017-09-13 16:15] kaykurokawa commented on #66
I belelive this should be fixed now https://github.com/lbryio/lbrycrd/pull/70

[2017-09-13 20:05] tpruvot commented on #66
Thanks, re-enabled it on yiimp for same-config tests :) but looks good, indeed.

[2017-09-18 03:42] aayanl commented on #66
![](https://user-images.githubusercontent.com/10069649/30508588-5d59434c-9a68-11e7-86fc-28ae59ac383e.gif)

[2017-09-18 13:00] tzarebczan commented on #66
Closing, fixed by https://github.com/lbryio/lbrycrd/pull/70

[2017-09-18 13:03] #66 closed

[2017-09-18 18:26] tzarebczan opened #71 ""This is a pre-release test build....""
Seeing this in lbrycrd-cli getinfo on latest build from master:

"This is a pre-release test build - use at your own risk - do not use for mining or merchant applications"

I think it may need a version bump somewhere.

[2017-09-19 15:59] lyoshenka commented on #21
Our oldest claim was in block 2806, so it expires at 265780, which will be roughly November 1st.

[2017-09-23 17:06] aayanl commented on #65
How would this affect already existing claims?

[2017-10-31 12:45] lyoshenka commented on #21
@kaykurokawa @jackrobison what are the downsides to having claims never expire? The only one I can think of is that its nice to be able to prune expired claims from the cliamtrie. Anything else?

[2017-10-31 13:45] lyoshenka opened #72 "Merge in CheckSequenceVerify and CheckLockTimeVerify from bitcoin"

[2017-10-31 15:03] lyoshenka opened #73 "Make claim names case-insensitive"
Two claims with names with different case-sensitivity should be considered having the same name.

[2017-10-31 15:09] tzarebczan commented on #73
We had https://github.com/lbryio/lbrycrd/issues/65 open already.

[2017-10-31 15:10] lyoshenka commented on #73
you're right

[2017-10-31 15:10] #73 closed

[2017-10-31 17:36] kaykurokawa commented on #72
This is already merged actually since we are working off of Bitcoin version 12.1 with some smaller commits for 13.0  (CSTV and CLTV merged in 12.1/12.0).

Softforks for these have activated , so the only thing remaining is to use some pre-existing tools to write and test these transactions.

[2017-10-31 17:50] kaykurokawa commented on #65
a) We need to have the claimtrie work with unicode, not bytes if we are attaching strict interpretations of what the bytes means, are non unicode bytes now invalid? Which unicode encoding are we using?

a) We need to define "case" here. English is of course easy, but it is kind of silly to deal with just English "cases" but ignore other languages. Is there a standard we can adopt or work off of he

[2017-10-31 18:17] kauffj commented on #65
a) I'm not sure of the answer here, but if some claims get invalidated that would acceptable (though obviously not ideal). I don't have a problem with supporting non-Unicode or arbitrary byte claims, so long as when/if the claim is valid Unicode, we are considering case-sensitivity.

b) I believe Unicode already defines lower and upper-case characters, as you can use regular expressions categories

[2017-10-31 18:43] tzarebczan commented on #65
So if two people own the same channel/claim name with different capitalizations, the resolve will default to the one with the higher bid right?

[2017-10-31 19:07] kauffj commented on #65
Yes, that's the idea.

[2017-10-31 19:23] kaykurokawa commented on #21
a) Already stated but worth stating again: Old names that people claimed with a lot of credits and lost the key for can be reclaimed

b) There are several ways in which the value of a claim is no longer of any use, and is effectively "expired". For example : claims can become effectively "expired" by us updating the lbry schema in a non backwards compatible manner. Claims can also become effective

[2017-10-31 20:20] kaykurokawa commented on #21
Also should note that the original question on this issue was:
Should expired claims be update able , as opposed to should claims expire.

Making expired claims update able is not that costly since expired claims do not enter the claim trie, they just need to be kept track of the same way an unspent transaction is.

[2017-10-31 21:13] kauffj commented on #21
@kaykurokawa thank you for writing up these comments, useful and informative.

[2017-11-01 17:59] lyoshenka commented on #21
It seems like there's a tradeoff here between having a large claimtrie, and having to issue lots of updates to keep names from expiring. Maybe we should figure out what our claimtrie "capacity" is? e.g. how many claims can we have before we exceed some limit (either miner RAM or txns/second). Then we'll know which bottleneck we're likely to hit first.

[2017-11-02 21:20] kauffj commented on #21
@kaykurokawa do you also see there as being scaling issues around _requiring_ regular claim updates? If LBRY is supporting 1e9+ pieces of content and they need to be updated every X seconds, what values make sense so that the system works from a total capacity perspective?

(At 32 bytes per claim, 1e9 pieces of content is only 32GB, which doesn't seem crazy to require of miners at that scale.)

[2017-11-08 17:55] lyoshenka opened #74 "Add claimindex (like txindex)"
Will make findclaimbyid much faster and take the load off lbryum to index claims.

Prereq for rewriting lbryum server in Go.

[2017-11-20 09:23] filipnyquist commented on #71
This should be quite simple to solve and should be added asap as otherwise people might think that it´s not safe to use.

[2017-11-23 03:41] kaykurokawa opened #75 "Need to be able to set claim expiration time for regtest and possibly testnet"
Need to set a lower claim expiration time for regtest, otherwise it takes too long to generate the blocks necessary to test behavior of expiration. This is needed in lbry-in-a-box, or for anybody testing expiration in regtest mode.

[2017-11-24 23:43] etisdew commented on #65
What is the status of this feature? I'd like to counter that by the argument of address space being tightly coupled to length of string and variance in characters. This added expense to hashing is equivalent to mandating everything be in lower-case and have a doubly long url.

[2017-12-07 05:27] nitronick600 commented on #64
@kauffj I'd really like to see this re-opened.  is there anyone that can shed some light on how we might go about fixing it?  I build on Mac only, so this is a show-stopper for me

[2017-12-07 15:00] kauffj commented on #64
@nitronick600 it's not closed

[2017-12-10 00:27] lyoshenka commented on #40
Reopening and tagging help-wanted.

[2017-12-17 21:01] sukaslayer commented on #64
same issue

[2017-12-19 23:44] ExtendLord opened #76 "Wrong place."
Wrong place sorry.

[2017-12-19 23:45] #76 closed

[2017-12-26 17:21] kaykurokawa opened #77 "Lbrycrd can crash when a support and abandon is on the same block"
It's possible to crash lbrycrd if two conditions are met

a) the claim is the only claim that exists for that claim's node in the claimtrie and any parent node up to the root node of the claimtrie. (i.e, the claim is for the name "zed" and there is no other claim on any name that starts with the letter "z")

b) The claim is abandoned and supported in the same block, or the claim is abandoned and a

[2017-12-29 15:03] #77 closed

[2017-12-29 15:42] oakey22 commented on #71
Can this be done soon please?

[2017-12-29 17:20] lyoshenka commented on #71
@kaykurokawa can you do this when you're working on lbrycrd next?

[2017-12-29 19:27] lyoshenka commented on #64
Does https://github.com/lbryio/lbrycrd/pull/80 fix this issue?

[2017-12-30 13:42] filipnyquist commented on #71
https://github.com/lbryio/lbrycrd/blob/270307a29070a4c10095528e232ad0f8e251ec5a/doc/release-process.md contains info on how to build a full releasem without the warnings

[2018-01-02 03:23] nitronick600 commented on #64
@lyoshenka just tried with that change, still fails with the same error.

[2018-01-05 16:45] lyoshenka commented on #64
I'm having trouble reproducing this error. I just ran reproducible_build.sh on Sierra and it built fine. For those having errors, can you provide more info on what version of OSX you're on, how you're building lbrycrd, or anything else that might be useful for us. Thanks.

[2018-01-05 16:48] nitronick600 commented on #64
I'll try it tonight and let you know.

[2018-01-06 05:42] nitronick600 commented on #64
@lyoshenka I didn't see the `reproducible_build.sh` command (it's not mentioned in the osx build instructions).

Here's the output I get from running that
`checking whether stripping libraries is possible... yes
checking if libtool supports shared libraries... yes
checking whether to build shared libraries... no
checking whether to build static libraries... yes
checking for ld used by g++... /Libr

[2018-01-08 04:31] kaykurokawa commented on #21
I think @lyoshenka is right, lets start by verifying/measuring how well the lbrycrd code responds to claimtrie size increases (memory usage, claimtrie update speed, discover any possible bugs that can occur from being stress tested, there should probably be an RPC command to return the amount of memory claimtrie is using) There has really been no testing done at all in this area so I think its nec

[2018-01-08 15:26] lyoshenka commented on #64
@nitronick600 what version of OSX are you on?

[2018-01-11 18:02] kaykurokawa opened #81 "Measure performance of claimtrie"
Test and measure the peformance of the claimtrie code, specifically in regards to issue: https://github.com/lbryio/lbrycrd/issues/21

[2018-01-16 14:44] lyoshenka commented on #21
@kaykurokawa could you break down the 80-120 hours into smaller items with time estimates on those items. aim for items that are a 5 at most, and break up anything bigger than that into subitems. make a separate issue for each of those subitems and add them to this epic. lemme know if you want help with this

[2018-01-19 18:13] #81 closed

[2018-01-23 14:56] kaykurokawa opened #83 "Lbrycrd claimtrie unit test improvements"
Old tests for the claimtrie ( https://github.com/lbryio/lbrycrd/blob/master/src/test/claimtrie_tests.cpp ) should be merged with new tests which contains fixtures and functions to make the expansion of unit tests easier: https://github.com/lbryio/lbrycrd/blob/master/src/test/claimtriebranching_tests.cpp

The new tests could also be improved more, it is mainly testing for the best claim, and we sho

[2018-01-23 15:22] lyoshenka opened #84 "Test claim expiration changes"

[2018-01-26 11:44] real-rouse opened #85 "Change algorithm to prevent ASICs from centralizing mining power."
With the production and monopolization Baikal has done with the new ASIC miner they have made, (It costs 9,000-10,000$) I think this conflicts with the ideology of LBRY.
https://asicminermarket.com/product/baikal-miner-giant-b/
Mining will be less decentralized, and more reserved for the rich. Also LBRY will be less secure and more prone to attacks before more producers have made more ASICs, and m

[2018-01-26 11:48] real-rouse opened #86 "Update Bitcoin codebase to support Atomic Swaps/decentralized OTC exchange"
In the time when centralized exchanges are on the fall, in fear of strict regulation - It is time to enable support for decentralized and trustless on-chain and off-chain OTC (over-the-counter) exchanges between cryptocurrencies. By updating the codebase of LBRY to the newest codebase of Bitcoin, we will be able to support Atomic Swaps.
https://github.com/decred/atomicswap
Decred (https://Decred.o

[2018-01-26 11:54] real-rouse opened #87 "Update Bitcoin codebase to support Lightning network to solve scalability issues"
I think this could be relevant to make LBRY scale up for millions of users. I believe it is soon time for LBRY to hardfork!

I will also write about these issues at https://LBRY.Community

[2018-01-28 07:33] real-rouse commented on #85
i am open for discussion on this matter :)

[2018-01-28 07:33] real-rouse commented on #86
I am open for discussion on this matter.

[2018-01-28 07:34] real-rouse commented on #87
I am open for discussion on this matter. :)

[2018-01-29 10:04] real-rouse commented on #85
I have one suggestion, I am a bit knowledgable, but I am not knowledgeable enough about algorithms and blockchain technology to actually know if this will work/be adaptable: Multi-algorithm, like DigiByte Coin. Prevents ASICs to control the mining power, but also includes them in a shared pool of 5 algorithms. Every algorithm is allocated 20% of the decision-power/block reward.

This method is inc

[2018-01-29 15:51] lyoshenka opened #88 "memory usage 1"
Do preliminary work in checking places where the claimtrie uses memory, verify that the empty nodes are the main problem, check if there is some quick optimization that will improve memory usage.

After this is done, create new issues in this epic for the rest of the work.

[2018-01-30 10:52] real-rouse commented on #85
Thanks for you feedback! And I'm sorry that we were a bit biased in our poll + recent communications by the LBRY.Community twitter account.

We (at least me, and some others I have talked to.) just have some strong ideologies here at LBRY.Community, against corporative control, to enable growth for people in development countries. For we truly believe "LBRY should be for everyone".

This includes

[2018-01-30 14:20] real-rouse commented on #85
Maybe even a rebrand is in place?
To make it easier for people to distinguish between the Company and the Protocol, or the many different elements of LBRY.

These are just my personal suggestions, and not necessarily the opinions of LBRY.Community as a whole.

We should ask ourselves this question: "Without any change in algorithm, will the LBRY Protocol still function for our current plan of oper

[2018-02-02 17:56] kaykurokawa opened #89 "Adjust transaction fees based on if a transaction is a claim or not"
Right now, transactions cost the same whether they contain a claim or not. Since transactions that contains claims take up more computing resources , we should adjust the transaction fees higher to reflect this.

[2018-02-02 20:22] kaykurokawa opened #90 "CClaimTrieCache is caching Nodes inefficiently during updates"
lbrycrd uses space inefficient map and set structure to cache Nodes (cacheing nodes is done when updating the claim trie structure to keep track of which node should or should not be updated)

CClaimTrieCache.cacheHashes -> (hashMapType, std::map<std::string, uint256> , stores hashes for each nodes
CClaimTrieCache.cache -> (nodeCacheType, std::map<std::string, CClaimTrieNode*>
CClaimTrieCache.bloc

[2018-02-02 20:26] kaykurokawa commented on #88
closing this in favor of new issues :
https://github.com/lbryio/lbrycrd/issues/90
https://github.com/lbryio/internal-issues/issues/117

[2018-02-02 20:26] #88 closed

[2018-02-06 16:29] jackrobison opened #92 "Supports returned for a claim should include the address the support was sent to"
Currently the txid, nout, and amount of the support is returned. By including address, clients can determine if a support is a "tip" (a support sending to the address of the claim) versus a typical support. Otherwise if addresses are desired all of the support transactions in the list have to be queried and parsed.

[2018-02-08 20:09] lbrydocs opened #93 "Improving lbrycrd binary install"
I am working on documentation for installs of the main pieces of the LBRY system. I use the following environment for testing:

Lubuntu 16.04.3 LTS - Ubuntu derived, takes half the disk space due to graphics diet.
apt update/apt upgrade so it's current.
tmux - share screens and log activity to text file, so I can watch a developer do an install.

When I download and unzip the lbrycrd binaries for

[2018-02-09 16:48] tzarebczan commented on #89
When determining a fee for claim transactions, we should take applications like spee.ch into consideration since the service owner (us in this case) pays for users' publishing fees. If we make them too high, the ability to run such services at no/little cost will be difficult.

[2018-02-16 18:49] MR4Y commented on #85
It's safe to say that most, if not all, of the Baikal miners currently opting to use LBC are merely leveraging it as a transitional coin, which means that they are technically not supporting other parts of the project either.

[2018-02-16 19:39] finer9 commented on #85
I would argue that GPU miners were not supporting other parts of the
project before either

On Fri, Feb 16, 2018 at 1:49 PM, MR4Y <notifications@github.com> wrote:

--
Josh Finer
Director of Operations and Analytics
LBRY, Inc.

[2018-02-20 22:50] real-rouse commented on #85
One thing is for sure - the mining community in the #mining -channel the LBRY Discord is dead now. We had a community who were forced to mine other coins with their GPUs. Maybe that in itself isn't the worst thing about this, though.

IMO: The most important factor is to have a decentralized and secure network, and a network which represents the vision of LBRY.

The purpose of the miners is to sec

[2018-02-22 14:43] MR4Y commented on #85
@finer9 They at least created some movement in the community server, as opposed to currently, where people only go there to ask for mining for other competing currencies or make use of the bot for calculations and to see the price of LBC, which will not go up or stay up for long with the ASIC centralization and other issues that are not related to the algorithm.

[2018-02-22 18:47] jackrobison opened #97 "Rejected dust transactions return error code 64 instead of 65"
The constant `REJECT_DUST` is [never used](https://github.com/lbryio/lbrycrd/blob/fa24439ff3d8ab5b9efaf66ef4dae6713b88cb35/src/consensus/validation.h#L17).

I think this is where the incorrect error code is coming from: https://github.com/lbryio/lbrycrd/blob/51d6b690cb2adae1dfa8bc042a07e476ea7edf15/src/main.cpp#L1037

The above calls: https://github.com/lbryio/lbrycrd/blob/e08d765f11a421d0b832ecef

[2018-02-22 18:55] jackrobison opened #98 "Regtest does not reject dust transactions"
This transaction is rejected as being dust on lbrycrd_main:

[code]

while this regtest transaction is accepted:

[code]

This makes testing the transactions produced by lbryum difficult since the dust rules for the test environment do not match the live network.

[2018-02-23 16:03] kaykurokawa commented on #98
I think we can change this. There are likely some unit tests that need to be changed because they use regtest rules.

[2018-02-23 19:40] kaykurokawa commented on #65
This provides a standarized method of normalization for unicode characters: http://unicode.org/reports/tr15/#Notation , and is currently being proposed as the method for implementation case-insensitve claims along with other normalizations.

[2018-02-23 19:54] kaykurokawa commented on #65
Here is a unicdoe vulnerability that was floating around as a phishing attack on Telegram recently:
https://krebsonsecurity.com/2011/09/right-to-left-override-aids-email-attacks/

[2018-02-23 20:43] kaykurokawa commented on #98
Actually the dust amount should be the same regardless of whether its main net or reg test, the default dust amount 0.00001.  You can set these variables manually so maybe its set somewhere either on the main net client or regtest client?
( set by -minrelaytxfee , can check it via ./lbrycrd-cli getinfo in the field relayfee  )

If that looks good, it must be rejected  for some other reason.  Can y

[2018-02-23 21:00] eukreign commented on #98
The accepted transaction done through regtest can be replicated by this integration test (message me on slack if you want help setting things up to run it):
https://github.com/lbryio/lbrytest/blob/master/tests/test_abandon.py#L20

As far as the real mainnet transaction, this was generated by @tzarebczan . See convo here: https://lbryians.slack.com/archives/C81K0BM9A/p1519158521000395

[2018-02-28 14:58] kaykurokawa opened #101 "Need to make claims (update/ and name claim) in hex"
We need a way for users to input hex claims value in lbryrd-cli / lbrycrd RPC (command claimname and updateclaim) so that protobuf claims can be made through lbrycrd

It's probably sufficient to accept hex as default.

[2018-03-04 04:08] Smurphonomics commented on #85
An optional micro-mining option, built in to the app would help with mining needs and as carrot on the stick, to help app adaption with mining rewards.

This would also encourage users to keep the app open for more mining income, which would help seed LBRY network. Win win!

[2018-03-12 13:27] kaykurokawa opened #104 "Add/reorganize unit tests for CClaimTrieCache/CClaimTrie"
We have decent coverage for integration testing the CClaimTrieCache together with CClaimTrie but we do  not have any unit tests for testing them separately.

Especially for CClaimTrieCache, adding unit tests would help developers understand and debug the class. We'll have better confidence on the correctness of the code going forward.

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]

[2018-03-12 13:35] #101 closed

[2018-03-14 13:42] lyoshenka opened #106 "Reimplement ClaimTrie as Patricia Trie"
Our Claimtrie is inefficient because it must store lots of empty nodes when storing a long name. The solution is to use this: https://github.com/ethereum/wiki/wiki/Patricia-Tree

[2018-03-19 02:06] kaykurokawa commented on #97
looks like REJECT_NONSTANDARD is a catchall error type for the IsStandardTx function , and it would be better if it was refined to return the more specific error codes such as REJECT_DUST

[2018-03-19 02:19] kaykurokawa commented on #98
Please use this flag when running lbrycrdd in regtest mode : -acceptnonstdtxn=0
(run ./lbrycrdd -acceptnonstdtxn=0 )

Behavior is documented here: https://github.com/lbryio/lbrycrd/blob/master/src/init.cpp#L461

IsStandardTx is not used when running in regtest mode, thus dust transactions are not rejected. Using the above flag will enable the use of IsStandardTx and will reject dust transactions.

[2018-03-19 17:57] lyoshenka opened #107 "Include non-winning claims in the claimtrie hash"
## Problem

Right now, only the winning claim for each name is included in the hash of the claimtrie. Therefore resolving non-winning claims cannot be validated by SPV clients.

## Solution

Include all claims in the claimtrie hash.

[2018-03-19 19:59] kaykurokawa opened #108 "Separate CClaimTrie into trie implementation and ClaimTrie / Write base template trie class"
The CClaimTrie class, which implements the Claim Trie, has a tight integration between the trie data structure and the logic involved in claims.

It would be nice if we had a base template trie class which the CClaimTrie class either inherits from, or used as a member variable (CClaimTrie would either way use a trie class where the node are CClaimTrieNodes). This will improve code readability and

[2018-03-20 09:21] snugchaise commented on #108
I checked the class today, is there any way to find out which methods are responsible for the trie data structure and which ones are for the claim logic? Or that is kind of intuitive?

[2018-03-21 18:11] kaykurokawa commented on #108
It's not intuitive at all (which is part of the problem) so here's some more details.

The "trie" data structure is your standard trie (aka prefix tie/digital trie) https://en.wikipedia.org/wiki/Trie . As far as I know, there is no deviation between the standard implementation and what we have implemented. Here are the important functions for this trie data structure that we use:

There is an inse

[2018-03-21 19:20] technovelist commented on #108
I'm working on replacing the trie data structure with one from ethereum. When I do that, I'll separate the claim logic structure from the trie itself.

[2018-03-28 14:54] kauffj opened #111 "ICU_LIBS build failure"
Travis fails to build the `lbrynaut:normalized-name-fork` branch.

The PR: https://github.com/lbryio/lbrycrd/pull/102
Sample build failure: https://travis-ci.org/lbryio/lbrycrd/jobs/353461482

The core issue seems to be that the Travis build is missing `-L$(ICU_PREFIX)/lib $(ICU_LIBS)`

[2018-04-03 14:55] #111 closed

[2018-04-04 22:53] jackrobison opened #116 "lbrycrdd allows broadcasting transactions containing invalid updates"
`broadcast` will send transactions containing claim update outputs where the claim id is invalid. Invalid claim id sizes as well as incorrect or non-existent claim ids all get through. Attempting to broadcast such transactions should return a transaction rejected error.

[2018-04-09 19:40] kaykurokawa opened #117 "reproducible_build.sh problems Ubuntu 16.04"
Seems to be issues using reproducible_build.sh on Ubuntu 16.04 , I get below problems on a fresh 16.04 install running "reproducible_build.sh -c -t"

libbitcoin_wallet.a(libbitcoin_wallet_a-rbf.o): In function `IsRBFOptIn(CTransaction const&, CTxMemPool&)':
/home/treantprotector/Documents/lbrycrd/src/policy/rbf.cpp:39: undefined reference to `CTxMemPool::CalculateMemPoolAncestors(CTxMemPoolEntry c

[2018-04-16 14:22] kaykurokawa opened #119 "Claim name returned is strange"
Via Lex:

working on unit tests for the claim name script and using real live blockchain data and am confused about `lbrycrd` output:

[code]

[2018-04-16 16:53] kaykurokawa opened #120 "Travis build for OSX seems to fail occasionally ?"
Getting these errors for the OSX Travis build: seems to be a new problem that started happening recently?  See : https://travis-ci.org/lbryio/lbrycrd/jobs/365289919 (also check current master)

==> Installing protobuf dependency: python@2
==> Downloading https://homebrew.bintray.com/bottles/python@2-2.7.14_3.el_capita
==> Pouring python@2-2.7.14_3.el_capitan.bottle.1.tar.gz
Error: The `brew link`

[2018-04-18 16:09] kaykurokawa opened #121 "Update lbrycrd README to follow LBRY.io guidelines for README"

[2018-04-18 16:47] tzarebczan commented on #121
Instructions should include how to run lbrycrd, how to create a config file and some basic commands

[2018-04-18 20:55] kaykurokawa commented on #117
fixed in https://github.com/lbryio/lbrycrd/pull/118

[2018-04-18 20:55] #117 closed

[2018-04-18 20:55] #98 closed

[2018-04-18 21:03] kaykurokawa commented on #89
Fixed with https://github.com/lbryio/lbrycrd/pull/95

[2018-04-18 21:03] #89 closed

[2018-04-18 21:05] kaykurokawa commented on #121
Initial work on this merged

[2018-04-18 21:10] kaykurokawa commented on #120
The failure is consistently happening, not occasionally

[2018-04-23 14:37] shyba opened #124 "Add supports on getclaimbyid RPC command"
`getclaimbyid` calculates the effective amount, but doesn't returns the supports list. Supports are needed for our electrum layer. For getting it we actually need to call `getclaimsforname`, which transfer more data then needed and adds an extra call.

@lbrynaut proposed a new index for supports over claim ids. I think it's the way to go, but we should discuss here.

I have some very ugly proof of

[2018-04-23 14:41] lbrynaut commented on #124
@shyba Thanks for filing this.  After the claimindex PR (#110) is merged, I'll start by making supports returned from the appropriate methods to avoid calling (effectively) the same things multiple times.

[2018-04-23 19:53] shyba opened #125 "Sanitize RPC commands"
It's more of a low priority feature request and maybe a good first issue, but something I noticed is that we could validate the parameters in a better way.

Some of our methods doesn't check for validity of claim id or how the parameters comes: https://github.com/lbryio/lbrycrd/blob/master/src/rpc/claimtrie.cpp#L498

In opposition, some of Bitcoin commands does the check and returns an error if it

[2018-04-23 22:34] kauffj commented on #125
Thank you @shyba! And yes, this is a good first issue.

If it's not too much work, could you add a list of methods that need this, or a way someone else could identify the ones that do?

[2018-04-24 00:02] shyba commented on #124
@lbrynaut something I also had to add but is pretty simple, maybe not worth another issue:
`claim.push_back(Pair("valid at height", claimValue.nValidAtHeight));`

[2018-04-24 01:27] tiger5226 opened #126 "Concurrent RPC requests against the ClaimTrie blocked critical section lock"
### Summary ###
In syncing the ClaimTrie in LbryCRD with Chainquery a bottleneck was identified where a mutex lock on the critical section was blocking concurrent RPC connections from accessing the claimtrie in the same RPC call. The example is the `getclaimsforname` call. The mutex lock is located in several places:

### Affected Code ###

`getclaimsintrie`
https://github.com/lbryio/lbrycrd/blob/

[2018-04-24 15:43] shyba commented on #125
Sure!
Commands are implemented here: https://github.com/lbryio/lbrycrd/blob/master/src/rpc/claimtrie.cpp
The ones that needs sanitizing are:
 - [ ] - getnameproof (blockhash)
 - [ ] - getclaimsfortx (txid)
 - [ ] - getclaimbyid (claim id)

See how it's done in here: https://github.com/lbryio/lbrycrd/blob/270307a29070a4c10095528e232ad0f8e251ec5a/src/rpc/rawtransaction.cpp#L183

For the name paramet

[2018-04-25 17:41] tzarebczan opened #127 "Transaction rejected, absurdly high fees"
Due to the recent fee calculation for claim transactions, there's a new case we need to consider where a low bid is used along with a longer than usual claim name. The network rejects the transaction because the fee is much higher than the claim amount (not sure what this ratio is or how it's determined).

I think we should be allowing these transactions as long as https://github.com/lbryio/lbry/i

[2018-04-25 17:59] #84 closed

[2018-04-25 17:59] lyoshenka commented on #21
Claim expiration will be removed by https://github.com/lbryio/lbrycrd/pull/115

[2018-04-25 17:59] #21 closed

[2018-04-25 19:37] kaykurokawa commented on #127
I believe this is because people have not updated lbrycrd to master with the fee changes.
Also we didn't make a release so I will make that right now.

[2018-04-25 19:38] #71 closed

[2018-04-25 20:27] shyba opened #129 "Clean up compiler warnings"
During compilation I'm getting a lot of warnings and most of them aren't relevant. We should at some point clean them up so its easier to read.
Another idea was to add a linter, but I'm undecided on which one, so I will leave that open and let us start by cleaning the noise instead.

[2018-04-26 00:02] tiger5226 commented on #119
Agreed with the following:

`b5` is `OP_CLAIM_NAME`
`04` is 4 bytes or `63617473`
`63617473` is "cats"
`4c` is `OP_PUSHDATA1`
`dc` is 220 bytes or the claim

I don't process the ASM, but the raw data from lbrycrd for the chainquery app. Below is a screenshot of all claims by the name "cats". Not sure if this is helpful to you, but all the ASMs have this problem.

<img width="974" alt="screen shot

[2018-04-27 05:23] shyba opened #130 "Include last block hash on claimtrie RPC results"
Both lbryumx and lbryum/lbrynet could benefit from knowing which block hash the response came from, so it can check if that matches the current database state. It should also make it easier to check if the blockchain tip changed during large queries.

Use cases for other projects getting this information:
* lbrynet/lbryum asks for claims in a name. That currently doesn't accept a block hash parame

[2018-04-30 19:51] kauffj opened #131 "Output blockchain APIs in a format that can be used for documentation"
lbry.tech will be used to showcase the API signatures for the daemon, blockchain, and any other key components.

[2018-05-02 16:06] tzarebczan opened #132 "Larger than normal fees on some tipbot transactions"
Larger fee: https://explorer.lbry.io/tx/6283e3a0b6bc16ac22c3446ee42a09d3ae7496551f86c037d333bc973c0b9e50 - it's for a Discord tipbot withdrawal.

I've noticed higher fees on these sometimes, but others they are normal like: https://explorer.lbry.io/tx/4acbfd68cedd791c5d08eb63e344fba9d6ca55dc899dc7404e29b09a4aa70ca1

getinfo:
[code]

[2018-05-02 16:18] kaykurokawa commented on #119
We can delete this if statement: https://github.com/lbryio/lbrycrd/blame/270307a29070a4c10095528e232ad0f8e251ec5a/src/core_write.cpp#L90

Since for our use case it is better to treat data of any size as a hex string

[2018-05-02 18:28] shyba commented on #106
For the sake of having this documented, we should be mindful that there is a space efficiency optimization and a time efficiency one mixed in this change. If we are doing one or both is a pending discussion.
If we just change the trie without changing the how the hash is calculated we could solve the memory issue without a hardfork. While changing how the proofs are made to match the new data stru

[2018-05-04 15:34] kauffj commented on #131
@lyoshenka did this get discussed on blockchain weekly?

[2018-05-06 22:47] kaykurokawa opened #133 "Something goes wrong when saving claimtrie nodes to disk and loading it"
Discovered in https://github.com/lbryio/lbrycrd/pull/110

When loading in claimtrie nodes using function InsertFromDisk() https://github.com/lbryio/lbrycrd/blob/master/src/claimtrie.cpp#L1072 , we discovered that for some reason the "name" variable contains an extra bogus character at the end.

However, I suspect that there is not always a bogus character attached to the "name" variable, thus this

[2018-05-07 00:42] kaykurokawa opened #134 "lbrycrdd crashes on restart and needs to be reindexed to recover"
When restarting lbrycrdd, there has been reports of it crashing

a) https://github.com/lbryio/lbrycrd/pull/109

b) Grin reported this error when restarting a lbrycrd node: lbrycrdd: main.cpp:2112: bool DisconnectBlock(const CBlock&, CValidationState&, const CBlockIndex*, CCoinsViewCache&, CClaimTrieCache&, bool*): Assertion `pindex->GetBlockHash() == trieCache.getBestBlock()' failed

Happens at bl

[2018-05-09 02:24] kaykurokawa opened #136 "Disk related functions should be seperated out from ClaimTrie class into its own class"
All disk read/write functions done through the CDBWrapper class in ClaimTrie should be separated out onto its own file/class. This should improve readability as it should be much clearer what is being saved and how. We should also write unit tests for the separated out disk read/write class.

[2018-05-14 17:08] kaykurokawa opened #138 "nCurrentHeight in ClaimTrie and ClaimTrieCache needs to be renamed"
nCurrentHeight, a member variable in ClaimTrie and ClaimTrieCache, is not the actual current height.
It is the current height + 1 (i.e, if there is a total of two blocks including the genesis, nCurrentHeight is 2 where as the standard definition of current height would be 1) , or perhaps it can be called as the current height "to be worked on".

nNextHeight might be a better name.

[2018-05-15 23:36] kauffj commented on #138
@kaykurokawa add comment until refactor happens?

[2018-05-16 11:40] bvbfan commented on #136
I will try to this task. You mean CDBWrapper (reads from disk) as well as CDBBatch (write to disk) in related class, right?

[2018-05-16 16:07] kaykurokawa commented on #136
Yes basically anything that has to do with CClaimTrie.db

[2018-05-16 17:56] shyba opened #139 "Consider tuning ancestor/descendant size limit for our use case"
While publishing lots of videos, @nikooo777  got:
Transaction rejected: 64: too-long-mempool-chain

Which comes from: https://github.com/lbryio/lbrycrd/blob/4ff143387ef98ffb7e57b3b07f11714589f6d85c/src/main.cpp#L1249

Which is affected by:
-limitancestorcount
-limitancestorsize
-limitdescendantcount
-limitdescendantsize

At the time it last happened, this was the mempool info output:
[code]

This

[2018-05-16 18:04] shyba commented on #139
Solution I would consider: What if the node being used for large scale publishes raises this limit? Will the mempool get rejected all the time? Would it solve or trigger another issue?

[2018-05-17 20:07] shamoons commented on #44
In `listnameclaims`, the default `minconf` appears to be set to 1. Do we want to change it to 6 everywhere?

https://github.com/lbryio/lbrycrd/blob/master/src/wallet/rpcwallet.cpp#L764

[2018-05-18 07:12] bvbfan commented on #136
I found that architecture is not good enough to me. Did you accept more agressive refactor? Why, CClaimTrieCache should have all *dirty* nodes and CClaimTrie should search in, when it's not found, then query CClaimTrieDb (new separed class) so CClaimTrie became a interface between cache and db. This will result in remove of all dirtyQueueXXX and related functions from CClaimTrie. Is this acceptabl

[2018-05-18 19:15] tzarebczan commented on #127
@kaykurokawa isn't it just our lbryum-servers that need the updated lbrycrd? I believe @nikooo777 recently updated ours, so it should be working but I tried just now and seeing the same error for a long claim name. Will double check with Niko to see what version we are on

[2018-05-19 21:01] bvbfan commented on #136
https://github.com/lbryio/lbrycrd/pull/140
It's simple, i can make more *aggressive* refactor if still needs

[2018-05-20 16:51] nikooo777 commented on #127
that was correct. Lbryum servers were not up to date with lbrycrd. I performed the upgrade

[2018-05-23 00:56] lyoshenka opened #143 "Generate API docs automatically"
Before starting this issue, ensure that Swagger supports JSONRPC docs.

- write script to run `lbrycrd-cli help`, get the list of commands, run `help` on each command, parse the output, and save it as a Swagger file.
- have travis run this script on every commit. if the Swagger file changes, have Travis commit this change.

[2018-05-23 01:34] tzarebczan commented on #121
@kaykurokawa please add instructions on how to generate a lbry.conf, where it goes and sample rpc parameters for a typical configuration.

[2018-05-23 03:44] tzarebczan commented on #127
Still occurring after the update of lbrycrd.
Error message: Claiming of name xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx failed: error: The transaction was rejected by network rules.(256: absurdly-high-fee) [0100000001293cd7719793e2877206fdd841715a8e8294ed94e12c4e654bc4a65f6d0f9a7a0100000069463043021f7d1b545cb7676e60863eaa4be5ff762028f7ae0931647d8a9933c2302296c3022

[2018-05-23 03:53] shyba opened #144 "Improve logging by separating debug from information"
`fDebug` flag can be used for that like: https://github.com/lbryio/lbrycrd/blob/01a222a3c5f730973c857ff9d13d032e6108462a/src/main.cpp#L5226-L5227

It's initialized according to `-debug` setting: https://github.com/lbryio/lbrycrd/blob/270307a29070a4c10095528e232ad0f8e251ec5a/src/init.cpp#L860

Ideally it should be applied to log messages that doesn't hold information for a sysadmin, but mainly for

[2018-05-23 19:09] kaykurokawa opened #145 "CClaimTrieCache should be renamed"
The naming of CClaimTrieCache in claimtrie.h/.cpp has caused a lot of confusion.
It is not a Cache for CClaimTrie, it is a cache of pending changes to CClaimTrie upon block increment/decrement.

[2018-05-24 14:20] BrannonKing commented on #126
I'm planning to work on this in the upcoming week.

[2018-05-24 23:10] tiger5226 commented on #126
Excellent! Let me know if you need any assistance with the reproduction! Happy to help!

[2018-05-26 14:15] BrannonKing commented on #126
In looking at this, I see three approaches (in order of difficulty):
1. Modify the cs_main lock to be shareable (reader/writer).
2. Separate out cs_main into multiple locks, with a shareable one for pclaimTrie.
3. Change the data structures to be immutable.

I'm planning to go with #1. This will add overhead to each of those lock calls; it assumes that the majority of our calls are reader operatio

[2018-05-26 14:30] tiger5226 commented on #126
We probably want @lyoshenka and @kaykurokawa to chime in here, but I would think we want a separate lock for the claimtrie ( option 2). I am not sure of the implications of option one as that is used for the blockchain ( blocks,transactions etc) rpc calls.

[2018-05-26 18:26] BrannonKing commented on #126
Other reasons I was leaning towards modifying cs_main: there are many places in main.cpp that could benefit from the reader/writer approach; it appears that most operations there are merely reading the present state. Very few places actually modify state. Hence, we would benefit at that level in addition to the RPC level. When the miner is running it does request the exclusive lock much more frequ

[2018-05-26 23:49] tiger5226 commented on #126
Excellent points. It sounds more risky to add a lock than to extend the current locks features. I am not familiar enough with main.cp to make a call. @lyoshenka , @kaykurokawa will respond soon. I assign it to them so it shows up in their queues.

[2018-05-27 15:42] lyoshenka commented on #126
@kaykurokawa @lbrynaut @shyba can you guys please take a look at this and give Brannon some guidance? thanks :-)

[2018-05-28 03:47] kaykurokawa commented on #126
I'm going to rule out 1) Modify the cs_main lock to be shareable (reader/writer)

We don't want to make big changes to any components that we inherited from Bitcoin Core unless if its absolutely necessary. This is because a) Bitcoin Core has far more eyes on it than we have and b) it will make it easier for us to pull upstream changes from Bitcoin Core

I think 2) is a much better option. I'll hav

[2018-05-28 18:12] kaykurokawa opened #151 "Should create function for claim processing code in main.cpp"
Claim processing code that goes in main.cpp's ConnectBlock() and DisconnectBlock() should be refactored into functions.

https://github.com/lbryio/lbrycrd/blob/v0.12.2.0/src/main.cpp#L2588

https://github.com/lbryio/lbrycrd/blob/v0.12.2.0/src/main.cpp#L2160

This should remove code duplication in miner.cpp  : https://github.com/lbryio/lbrycrd/blob/v0.12.2.0/src/miner.cpp#L320

And also allow us to

[2018-05-30 05:33] BrannonKing commented on #126
I discovered that approach 1) is more difficult than I first thought: the recursive lock mechanism doesn't work out-of-the-box for shared locks. I've come to despise recursive locks (even though I've used them for years in C#). I've seen some recursive shared locks on the web; I think I'd have to massage one of those before I trusted it. The other angle would be to map out all the `LOCK(cs_main)`

[2018-05-30 12:00] lbrynaut commented on #126
@BrannonKing I didn't review in detail, but this approach looks like a dead-end.  Boost upgrade/shared locks are the way to go, but I strongly agree with @kaykurokawa that there are many subtleties to playing with the cs_main lock, and it's not a quick fix to replace/modify the usage of it.  Adding more locks in the meantime is not beneficial.

[2018-05-30 19:08] kaykurokawa commented on #121
done

[2018-05-30 19:08] #121 closed

[2018-05-30 19:09] kaykurokawa commented on #145
CClaimTrieUpdateBuffer might be a good name

[2018-05-30 19:10] #124 closed

[2018-05-30 21:51] tiger5226 commented on #126
@kaykurokawa ruled out 1 ( upgrade/shared locks) and it appears you are suggesting that while agreeing it is a big lift. So is the suggestion that this is not beneficial to solve? Just want to make sure @BrannonKing has the guidance he needs.

[2018-05-31 00:57] lbrynaut commented on #126
@tiger5226 Compared to the implementation attempt of 2), I was commenting that upgrade locks are preferable to additional locks/critical sections.

I'm new to this specific issue, so I'll throw out some thoughts that may have been discussed before.  I believe the existing subtleties of the locking are so nuanced, there's a very good reason they haven't been changed upstream -- it's not laziness.

[2018-05-31 02:13] tiger5226 commented on #126
All clear! Thanks a ton for the added thoughts, very helpful. I was able to work around this bottleneck rather easily by make  a fraction of the calls. I am not sure anyone else is suffering from this issue, hence I don't believe there is any urgency.

@lyoshenka This makes sense and we probably don't want to take on the risk. Thoughts?

[2018-05-31 20:56] kauffj opened #154 "Make C++ Version Clear"
Update the README to make it clear what versions of C++ and compilers this project is targeting.

[2018-06-01 05:08] BrannonKing commented on #126
I like the suggestion for load balancing daemons. I think a Docker Swarm or Kubernetes approach would work very well. Also, for the situation where you need to make multiple RPC calls for a single piece of data -- it makes a lot of sense to make a new RPC call that returns all the data that you need in a single pull. I think those are both great workarounds.

I did want to understand how recursive

[2018-06-05 01:56] BrannonKing commented on #126
I did make a branch with a recursive shared mutex for cs_main: https://github.com/BrannonKing/lbrycrd/tree/use_recursive_shared_lock. It compiles and runs successfully. I've been trying to benchmark it using the apache benchmark (ab) call shown above. I'm not sure how much data I would have to put in to make the trie lookup take any significant time. Can I just run the cli generate command for tha

[2018-06-05 02:06] #154 closed

[2018-06-06 17:14] bvbfan commented on #138
I can take it on my refactor branch, it's sound good?

[2018-06-06 17:29] kaykurokawa opened #157 "Specify coding style, other guidelines in README"
We should probably adopt the same coding style as adopted in Bitcoin Core
https://github.com/bitcoin/bitcoin/blob/master/doc/developer-notes.md

Additional notes:
Avoid changing components in Bitcoin Core unless it is absolutely necessary (basically if the codes does not have anything to do with the claimtrie, it is part of Bitcoin Core although there are exceptions such as the POW algorithm, rewa

[2018-06-06 23:46] kaykurokawa commented on #126
I'm not sure we should merge this but I believe @tiger5226 should at least try this branch out and let us know if he seems any improvements and works properly for his chainquery application.

[2018-06-06 23:57] tiger5226 commented on #126
@BrannonKing I would not mind testing it out with the chainquery branch. However, there is another issue blocking me from building lbrycrd on my mac pro. If you can get me the binary I can test it out.

[2018-06-07 15:57] kauffj commented on #126
@kaykurokawa maybe it's time to sort out that mac build issue?

[2018-06-07 16:34] kaykurokawa opened #158 "Properly manage the allocation of CClaimTrieNode"
CClaimTrieNode (nodes on a claimtrie) is currently allocated/de-allocated through the new/delete operators which has caused some problems in the past: https://github.com/lbryio/lbrycrd/pull/94

Using shared pointers would be a good improvement over this, so this could be the first step on this issue. Furthermore, we need to restructure the code so that we have a fixed size memory pool that limits

[2018-06-13 15:40] kaykurokawa commented on #104
Some tests were added here: https://github.com/lbryio/lbrycrd/pull/105 but could use more

[2018-06-13 18:30] bvbfan commented on #158
Ill investigate, if you have some valgrind output will be helpful. So i can take this issue, if you have priority work to do.

[2018-06-13 19:51] kaykurokawa commented on #157
Useful script:
run this in the base lbrycrd folder ("HEAD~1 can be replaced to look at whatever commit you want") to perform the clang format diff correction
git diff -U0 HEAD~1.. | ./contrib/devtools/clang-format-diff.py -p1 -i -v

[2018-06-15 08:44] bvbfan commented on #158
I've done it in this way:
1. All CClaimTrieNode allocations are on stack
2. None takes ownership of CClaimTrieNode* but makes exclusive copy on the heap
3. Do not add same pointers on different containers, unless you use boost::shared_ptr
3. Removing from container should deletes resource, unless you use boost::shared_ptr

[2018-06-15 08:46] bvbfan commented on #138
It is nNextHeight in my local branch i'll made pull request.

[2018-06-17 06:18] bvbfan commented on #126
About me, code written by @BrannonKing looks good, however recursive shared lock is a mess as design. I would do protect only shared resources , i.e. like this
[code]

[2018-06-19 01:04] BrannonKing commented on #126
@bvbfan , if you look through the code, particularly in the main header, you'll see that many of the mutexes protect multiple data structures. That's quite unfortunate -- it makes it impossible to do as you suggest and make the protection explicit in code. I would prefer to take things a step farther; use concurrent or immutable data structures. IOW, fully encapsulate the mutexes into the structur

[2018-06-20 03:20] trustfarm-dev opened #162 "making pool. how to lbry hash verification?"
Hi, I'm making LBRY pool.
I've adds lbry hashing module to NOMP node_multihashing module.
followings issue on NOMP.
https://github.com/zone117x/node-open-mining-portal/issues/611

I want to check my ported hashing modules output is ok? could you check algorithm porting is good?
and what multiplier I use?

thanks

[2018-06-20 15:27] kaykurokawa commented on #162
I would guess that you'd need to adjust the difficulty adjustment algorithm : https://github.com/lbryio/lbrycrd/blob/master/src/pow.cpp#L47

I'm closing this as it's not a lbrycrd issue. If you need further help contact me directly: kay@lbry.io

Thanks.

[2018-06-20 15:27] #162 closed

[2018-06-20 16:01] tzarebczan commented on #162
@trustfarm-dev check out https://github.com/lbryio/pool, should be helpful.

[2018-06-20 18:10] kaykurokawa commented on #127
For the lbrycrd running on lbryum servers,
is there a configuration (either in the configuraiton file or command line) that sets "maxtxfee" ?

[2018-06-20 21:53] nikooo777 commented on #127
i just checked, negative on that. nothing set for that variable

[2018-06-21 10:51] bvbfan commented on #145
You can merge safety, it has only rename and separate.

[2018-06-25 14:40] kaykurokawa opened #164 "An automated test for checking that a PR can sync"
As part of the automated travis build (or maybe it could be a separate thing from travis) , we should try to run and sync the built lbrycrd on testnet to see if it can a) sync from scratch and b) start up when its already synced and can succesfuly recieve a couple of blocks.

Not sure if this is possible just using travis (might take too long? use too much disk space?). We might have to set up som

[2018-06-26 07:33] bvbfan commented on #158
I have a implementation in my local branch that resolve issue, i'll write a little unit test to check number of destroyed nodes.

[2018-06-26 19:47] lbrynaut commented on #65
Addressed by #159

[2018-06-26 20:20] lbrynaut commented on #120
Resolved by #165

[2018-06-26 20:20] #120 closed

[2018-06-26 23:42] lbrynaut commented on #164
Yeah, I agree it would be nice, but I think it would also require doing externally.  As a first cut, we could probably just grab the binaries built from the travis build, run them for however long it's trying to do things, then e-mail the last couple hundred lines of the log to determine if things were normal up until shutdown.

I think travis has timeout limits that would prevent it from working

[2018-06-27 00:56] lbrynaut commented on #164
Nothing wrong with regtest testing also, but what @kaykurokawa is suggesting is specifically testnet and mainnet, to ensure nothing obvious is overlooked in a PR.  Usually that kind of testing is done manually.

[2018-06-27 14:36] ekxoiner commented on #162
Please help me how ti claim my LBRY? And withdrawal to market in coinomi,
this my ADDRESS in coinomi

bM2Yh7V2GN9aC4kH9eqaoUUDN4Fd3SDCGk

Rabu, 20 Juni 2018, Thomas Zarebczan <notifications@github.com> menulis:

[2018-06-27 14:41] tzarebczan commented on #162
@ekxoiner looks like you are in the wrong place and not sure what you are asking.

[2018-06-27 16:07] kaykurokawa commented on #164
It wouldn't hurt to have some quick tests to verify regtest within the test.
Also, might also be good to try testing sync'ing to mainnet as well.

[2018-06-27 19:12] kaykurokawa opened #166 "Need to cache fixed amount of CClaimTrieNode's, and store the rest on disk"
Currently , lbrycrdd loads the entire claimtrie composed of CClaimTrieNode's into memory
The total size of CClaimTrieNode's can exceed what is available in memory so we need to create a cache that will keep a fixed size of CClaimTrieNode's as needed, and store the rest on disk.

Say we create a class CClaimTrieCache, perhaps something like this in pseudo-code (just trying to brainstorm here, open

[2018-06-28 14:32] bvbfan commented on #166
I took in other way, you can decide it's valuable or not, so can use basically same structure of code as is, but we can use memory map file to allocate space, i.e. all node allocations will be placement new that will in the virtual memory, shared_ptr will use a custom deallocator.
https://www.boost.org/doc/libs/1_67_0/doc/html/interprocess/managed_memory_segments.html
If you have an other idea, sh

[2018-07-05 16:03] bvbfan commented on #166
I implemented it on memory managed file, but it has a bug, about me, i reported it https://svn.boost.org/trac10/ticket/13626 so did you have a suggestion to investigate?

[2018-07-05 17:50] roylee17 opened #168 "Can't run some test cases."
Do I need to perform some pre-test setup?
(I'm running on MacOS)

[code]

[code]

Some test cases run without problem.

[code]

[2018-07-09 00:00] kaykurokawa commented on #134
Just had this happen to my node:

lbrycrdd: claimtrie.cpp:2416: bool CClaimTrieCache::decrementBlock(insertUndoType&, claimQueueRowType&, insertUndoType&, supportQueueRowType&, std::vector<std::pair<std::__cxx11::basic_string<char>, int> >&) const: Assertion `removeClaimFromTrie(itInsertUndo->name, itInsertUndo->outPoint, claim, false)' failed.
Aborted (core dumped)

Below is the log

2018-07-08 2

[2018-07-09 00:32] kaykurokawa commented on #166
Do you have this implemented in a branch somewhere I could look at?

[2018-07-09 05:37] bvbfan commented on #166
It depends on #160 , which is ready to merge?

[2018-07-09 07:42] bvbfan commented on #166
Here is on pastebin https://pastebin.com/xNuF4YZ4

[2018-07-09 22:22] tzarebczan opened #171 "Include SHA256 of Binaries on release page for verification purposes"
Per a request from a community member.

[2018-07-11 17:58] kaykurokawa commented on #134
The post directly above was a false alarm, due to https://github.com/lbryio/lbrycrd/pull/160 not being downgrade compatible

[2018-07-13 09:53] mirgee commented on #119
Are any new unit tests necessary for this, except those already in existence: https://github.com/lbryio/lbrycrd/blob/master/src/test/script_tests.cpp#L1067 ?

[2018-07-14 12:44] lbrynaut commented on #119
@kaykurokawa I'm not saying I strongly disagree here, since it's just a string representation, but I also think it can be easily (and consistently) handled upstream since it's the same data.

[code]

This prints out ```1937006947, 73746163, 63617473```, which is what you'd expect.

[2018-07-14 23:02] lbrynaut commented on #168
Also in https://github.com/lbryio/lbrycrd/blob/master/src/test/claimtrie_tests.cpp#L87
@kaykurokawa should be noted.

@bvbfan The line you pointed out does have a bug, but initializing the value to null is not the optimal solution.  Properly ensuring the variable is *allocated* is the actual fix.  If instead the caller really wanted to pass null, then NULL should be passed, not a variable pointing

[2018-07-15 05:31] bvbfan commented on #166
One possible solution is CMemoryFile to manage a fixed size file, CMemoryFileManager to manage a bunch of memory files, manager will lookup in all create files for enough space for every new allocation, if does not have it will construct a new one. Growing will be a just creating a new file with desired size, shrinking will search for empty files to delete.

[2018-07-16 14:09] bvbfan commented on #166
@kaykurokawa, i've implement it, like i comment it above, tests pass, it looks good to me. I can upload to pastebin or i can wait #160 to merged.

[2018-07-16 19:51] BrannonKing commented on #87
@real-rouse , where is your write-up on Lightning? Have a direct link?

[2018-07-16 20:01] BrannonKing commented on #107
We don't have to do this as a hard fork; we could just add the non-winning claims into the tree in their own data member, no? That would allow the fast indexing on claim name. What were the other use cases?

[2018-07-16 20:09] BrannonKing commented on #93
To be clear, this is a request for DEB packaging for Linux deployment? And we should host those on our own PPA somewhere? Would Snap packaging be okay (instead of DEB)?

[2018-07-16 20:48] tzarebczan commented on #93
The readme was recently updated to include a config example and how to run lbrycrdd. I think that might be enough to close this issue.

[2018-07-18 14:32] bvbfan commented on #166
Here is on pastebin for now -> https://pastebin.com/KBXdEtyw

[2018-07-18 14:40] BrannonKing commented on #166
I want to get #160 merged today. Can you look into using `make_shared` instead of the `new` keyword?

[2018-07-18 14:41] bvbfan commented on #166
No it cannot be used, in placement make_shared does not work.

[2018-07-18 16:06] alyssaoc commented on #46
have not seen this issue again

[2018-07-18 16:06] #46 closed

[2018-07-18 16:09] alyssaoc commented on #64
completed in pull request #173

[2018-07-18 16:09] #64 closed

[2018-07-18 16:14] alyssaoc commented on #85
still exploring options, will reconsider in future

[2018-07-18 16:14] #85 closed

[2018-07-18 16:16] alyssaoc commented on #86
this will happen when upstream issues are merged

[2018-07-18 16:16] #86 closed

[2018-07-18 16:17] lyoshenka opened #174 "Merge in upstream Bitcoin Core improvements"

[2018-07-18 16:17] lyoshenka commented on #86
tracking upstream merge progress in #174

[2018-07-18 16:19] alyssaoc commented on #87
compatibility will be solved with the merger to current bitcoin codebase

[2018-07-18 16:19] #87 closed

[2018-07-18 16:19] lyoshenka commented on #87
tracking upstream merge progress in #174

[2018-07-18 16:22] alyssaoc commented on #93
closed per Tom's comment

[2018-07-18 16:22] #93 closed

[2018-07-18 17:09] tzarebczan commented on #92
@kaykurokawa when would that happen? Can that support never be spent? Or would it go back to the sending address?

[2018-07-19 11:39] real-rouse commented on #87
Sorry @BrannonKing  , I haven't written about it yet. I have been busy with some other things. This issue is still in the back of my head, and I will probably write more about it when the LBRY blockchain is actually getting more unconfirmed transactions, and when the lightning network is developed more. Here is a link to https://lightning.network if you're interested btw. :)

[2018-07-19 16:52] kaykurokawa commented on #90
closing as this is a duplicate of https://github.com/lbryio/lbrycrd/issues/108 and https://github.com/lbryio/lbrycrd/issues/106

[2018-07-19 16:52] #90 closed

[2018-07-19 16:54] kaykurokawa commented on #157
implemented in https://github.com/lbryio/lbrycrd/pull/163 and https://github.com/lbryio/lbrycrd/pull/155

[2018-07-19 16:54] #157 closed

[2018-07-20 15:15] BrannonKing commented on #44
We discussed changing minconf from 1 to 6 everywhere it previously existed. However, in working on this, it only exists in rpcwallet. I'm adding it to rpcclaimtrie. Hence, I don't think that we need to keep the same default, and I'm hesitant to change the out-of-the-box API.

[2018-07-23 21:51] BrannonKing commented on #131
Waiting on #44

[2018-07-23 21:58] BrannonKing commented on #104
Waiting on #175 's proposed "separate PRs".

[2018-07-23 22:46] BrannonKing commented on #131
Is this a duplicate of #143 ?

[2018-07-24 15:12] lyoshenka opened #179 "review Lex's wallet PR"

[2018-07-24 17:38] BrannonKing commented on #179
https://github.com/lbryio/lbry/pull/1155

[2018-07-24 21:29] #143 closed

[2018-07-24 21:29] lyoshenka commented on #131
yes. ill close the other one.

[2018-07-25 16:11] BrannonKing commented on #125
Fixed via https://github.com/lbryio/lbrycrd/commit/e3813362815556634046970d978ba66cef84fea9

[2018-07-25 16:11] #125 closed

[2018-07-25 17:12] lyoshenka commented on #174
@lbrynaut once you've thought about this some more, can you write some details about what the steps are

[2018-07-25 19:32] kaykurokawa commented on #92
Claims can be attached to any kind of Bitcoin transaction.
Bitcoin transactions do not necessarily have an address attached to it (i.e., some kind of un-spendable transaction )

[2018-07-27 17:03] BrannonKing commented on #131
Also, see https://github.com/lbryio/lbry.tech/issues/42
and https://github.com/lbryio/lbry/blob/master/scripts/generate_json_api.py

I'm starting on this now and planning to pursue the jrgen plan.

[2018-08-01 14:41] kauffj opened #184 "Purchase Transactions (claim identifier in transactions)"
There should be a special transaction type to indicate that a transaction is to purchase the rights to a piece of digital content.

This would only differ from a normal transaction in two ways:

1) It would include the `claim_id` of the content intended to be purchased.
2) When a `claim_id` is included, a miner will reject the transaction if:
a) the associated claim metadata is invalid
b) the dest

[2018-08-01 17:32] BrannonKing commented on #184
To summarize our discussion: can we enforce that all claims are in LBC when they reach lbrycrd?

[2018-08-01 17:34] BrannonKing commented on #126
Waiting on #174

[2018-08-01 17:34] BrannonKing commented on #129
Waiting on #174

[2018-08-01 18:56] kauffj commented on #184
Enforcement of _LBC_ should definitely be possible, though would involve adding lbryschema to lbrycrd.

The trickier part is non-LBC denominated purchases, which would presumably require outside network information.

[2018-08-02 01:01] rynomad commented on #131
@BrannonKing re: jrgen... if you'd like, take a look at [this script](https://github.com/rynomad/lbry-js/blob/master/scripts/jrgen_crd.js) I wrote for lbry-js; it's pretty barebones but generates a jrgen compatible schema file dynamically from the existing lbrycrd 'help' command.

[2018-08-02 14:56] BrannonKing commented on #131
@rynomad , thanks for posting that script. Unfortunately, my Python script was generally completed before I got this message yesterday. Hence, I think I'll proceed with my script.

I was unable to run your script. I'm not sure I followed your instructions correctly. `npm --version` reports 3.5.2. Do I need some other version? (There was no `setup` command on mine.)

[2018-08-02 18:38] bvbfan commented on #133
This *probably* should be fixed when merging new code.

[2018-08-03 14:23] kauffj commented on #184
The claim_id needs to be embedded in the transaction so that we can know what piece of content the purchase was for. The wallet address is insufficient.

If we're embedding the claim_id, it seemed logical (assuming feasibility), to make this type of transaction also attempt to enforce that the transaction is for a sufficient amount.

[2018-08-03 17:30] kaykurokawa commented on #184
I believe the original reason why the wallet address is insufficient was this:

a) electrum was very limited in its ability to handle a large number of addresses (as address size grew, it became very slow to sync).

b) we fixed this problem by using a single address as a receive address for all content payment.

So if our new wallet code ( paging @eukreign , what is the additional duration that is

[2018-08-03 18:53] kauffj commented on #184
This has nothing to do with performance. A wallet address is not the value that corresponds with a unique piece of digital content. We decided that the value that uniquely corresponds to a piece of digital content and never changes is the claim identifier. That is what needs to be recorded. There should be no possibility of ambiguity and this should be handled in a hard way (i.e. not a convention)

[2018-08-05 15:26] bvbfan commented on #97
https://github.com/lbryio/lbrycrd/pull/185

[2018-08-05 20:40] tzarebczan opened #186 "Spending a tx with a low claim bid fails - edge case (rejected as dust)"
See example edge case here: https://github.com/lbryio/lbry/issues/768#issuecomment-367110131

brynet-cli claim_abandon --claim_id=182c6ef1e2c5d22c06eebe9f87baa63e37ed441f
ERROR: Abandon of 182c6ef1e2c5d22c06eebe9f87baa63e37ed441f/None:None failed: error: the transaction was rejected by network rules.

64: dust
[0100000001101a35dbc7c60426bdd20b1863d6eeec23db81ae446e9ba8386c06284f639279000000006b483

[2018-08-06 10:30] kaykurokawa commented on #184
a) " A wallet address is not the value that corresponds with a unique piece of digital content." - neither is the claim_id if the digital content can be changed to anything through the metadata.

b) What is the purpose of recording purchases to a claim identifier on the blockchain? What does this achieve?

[2018-08-06 13:14] tzarebczan commented on #184
A) that is true, but this would still be a valid indicator that something was purchased for that particular claim.

B) a user who receives the payment will know what content it was for, and same goes for the person sending it (right now they just see a receive or send tx without any information).

Are you saying the above would be possible to track just by creating a tx that associates the claim I

[2018-08-06 14:17] kauffj commented on #184
A) Yes, but this is up to the publisher and no one else, so this the best of all possible solutions. And the claim_id cannot be changed arbitrarily, so while the publisher can change it, it's not as if they can set it to match another publish.

B) The purpose is to have a transaction that unambiguously proves you purchased the rights to a specific piece of content.

[2018-08-06 21:39] BrannonKing commented on #44
Should getclaimbyid be included in the list of methods needing this feature?

[2018-08-07 14:32] BrannonKing commented on #44
lbryumx would be affected (unless we set the default to 1). It could be updated to pass in the number of confirmations that it cares about.

[2018-08-07 22:04] BrannonKing commented on #83
done via #183

[2018-08-07 22:04] #83 closed

[2018-08-09 16:43] BrannonKing opened #188 "make it easier to test with mainnet data"
Includes:
1. Running the daemon in "regtest" mode but using mainnet data.

...

[2018-08-09 19:33] BrannonKing commented on #186
@bvbfan , can you see if your fixes for #97 return a different error code in this situation?

[2018-08-10 16:01] bvbfan commented on #186
It returns REJECT_NONSTANDARD (64) with patch it is REJECT_DUST (65)

[2018-08-10 16:30] eukreign commented on #184
BIP70 might be relevant to this issue since it includes proof of payment: https://github.com/bitcoin/bips/blob/master/bip-0070.mediawiki

[2018-08-10 16:54] lyoshenka commented on #184
@kauffj instead of suggesting a particular solution, could you rewrite the issue from the point of view of a non-dev user, with things like acceptance criteria, constraints, motivation, who wants this and why, etc. It will help us figure out the right way to do this

[2018-08-10 16:59] kauffj commented on #184
@lyoshenka putting the claim id in the transaction _is_ the feature.

I could write this more generically and say something like "include a unique identifier corresponding to a piece of content in a transaction", but I'm unclear on how that would improve anything.

[2018-08-10 17:40] eukreign commented on #184
2c. If the fee is hard coded in the metadata and enforced at blockchain level how would you do discounts (or free to specific individual, for example, someone lost their wallet and asked you to be given the content on a new wallet and you decide to give them the content free of charge, there are many other situations like this)? Seems like it would be more robust if the negotiation happens off cha

[2018-08-10 17:43] kauffj commented on #184
I agree that 2(c) is a difficult and potentially impossible problem.

Even if we cannot reject transactions based on the validity of the amount, it is still useful to include the claim_id in the transaction.

[2018-08-10 17:54] lyoshenka commented on #184
what are the use cases for having the claim id in the transaction? is it for reporting to content creators? for not having to pay for the same piece of content multiple times? anything else im missing?

[2018-08-10 18:05] tzarebczan commented on #184
Also, the person paying for it will see what they claim they paid for (goes along with your 2nd point)

[2018-08-10 18:06] eukreign commented on #184
One of the main benefits I can see of this feature is being able to re-establish ownership of all of your purchased assets at the same time as you are re-creating your wallet from a seed.

If the negotiation will happen off chain then the on chain portion has to somehow include approval from both parties of the agreement (buyer offering to buy ownership in exchange for something or nothing and sel

[2018-08-10 18:19] eukreign commented on #184
You could have an off chain operation where you have the seller sign your transaction (approving it) and then this goes on the blockchain. For example:
1. Buyer creates a purchase output;
1. sends it to seller to be signed;
1. seller either automatically agrees or there is some negotiation that happens;
1. seller sends the signed output back to buyer;
1. buyer adds the signed output to a TX, signs

[2018-08-10 18:28] eukreign commented on #184
It would also be very useful to know the possible ways in which ownership will be enforced, knowing this might influence how ownership is established and recorded.

[2018-08-10 19:50] lyoshenka commented on #184
i don't think the seller needs to be involved. if there's a claim for some content  and it has a price, and you broadcast a transaction that contains the claim id and spends the appropriate amount to the claim's fee address, that's a sale. what would we gain from the seller signing it?

[2018-08-10 19:53] lyoshenka commented on #184
that said, the blockchain is unaware of the metadata. if we add any kind of validation at the blockchain level, it would become very difficult to change the structure, add fields, etc. so i don't think that's possible.

[2018-08-10 20:30] kauffj commented on #184
@lyoshenka the ability for the blockchain to read/parse/execute against metadata would not necessitate full validation of the metadata

[2018-08-10 21:32] eukreign commented on #184
Without seller involvement you can't:
1. offer different prices or discounts
2. donate a piece of content to someone
3. limit number of purchases (eg. you are selling a stream subscription and only wanted max 50 subs)
4. claim it's an actual sale

If you consider a sale to be a contract between two parties then there needs to be agreement/consent on both sides. Blindly sending money to someone and

[2018-08-10 23:49] eukreign commented on #184
Other things to consider (and this would be affected by what the enforcement mechanism is):
1. can you be refunded?
2. how do you differentiate a refund from the seller just spending your payment as a regular UTXO? (for example, you buy something and then that person turns around and buys something from you spending the same UTXO that formed your initial purchase with them, how would you different

[2018-08-13 22:32] BrannonKing commented on #188
I considered three different approaches for this:
1. Pass in an additional (with -regtest) command-line parameter that copies over the current "mainnet" saved data wholesale.
2. Make a separate "devtools" script to do #1.
3. Make an RPC command to transfer in x number of blocks from the mainnet or testnet saved data.

I'm planning on #3. It seems to be the most flexible although it's a bit more wo

[2018-08-14 12:42] bvbfan commented on #116
Someone to work on?

[2018-08-14 13:18] kauffj commented on #188
Have you looked at approaches taken by others? Seems like something to have come up for bitcoin, though I did google briefly to no success.

[2018-08-14 22:01] eukreign opened #190 "Run IsStandardTx on Regtest"
Please enable `IsStandardTx` to run on regtest. It's extremely frustrating that code works when testing in regtest but fails on mainnet.

[2018-08-15 13:12] lbrynaut commented on #190
Is the command line argument `-acceptnonstdtxn` not sufficient?

[2018-08-15 17:40] alyssaoc commented on #190
@eukreign with the setting of 0 (false)

[2018-08-17 13:26] kauffj commented on #116
@jackrobison if you're able include the specific examples of transactions you're able to broadcast but should not be able to, it'd make this ticket stronger.

[2018-08-18 03:16] roylee17 commented on #184
How about just using the (Null Data) OP_RETURN **"output"**, which carries up to 80 bytes of data.
A transaction to be considered **"Standard"** can have at most 1 Null Data output.
The block explorer would list that OP_RETURN output as hex code.

In this case, 1) the claim_id (and/or other transaction detailed) can be associated with the transaction. 2) The business logics can be processed off-ch

[2018-08-20 14:35] kaykurokawa commented on #184
Ok, there's many reasons why this proposal still doesn't make sense to me. Here's three issues:

A) Others have said this but this proposal only covers one method of paying for digital content (in LBC, and only when paying a fixed amount as determined by the metadata in a privacy destroying manner). Note that Ideally any privacy retaining purchases of digital content happens off the chain (you'd p

[2018-08-20 14:45] bvbfan commented on #116
https://github.com/lbryio/lbrycrd/pull/192

[2018-08-20 16:19] BrannonKing opened #193 "build system enhancements; make Travis do more stuffs"
Includes:
1. Move "secrets" out of .travis.yml and into Travis variables.
2. Make the Windows run of the unit tests work. (It's now running with a Wine Docker image, which is working okay, but it's probably not ideal.)
3. Add in a run of the python integration tests and the fuzzy tests.
4. Can we use newer compilers with the older GLIBC?
5. Publish a debug build for Linux?
6. Validate the static l

[2018-08-20 18:00] eukreign commented on #184
A) Only supporting LBC is a feature, not a bug? Can we just make it easy to convert from fiat/other-coin to LBC on the client side before proceeding with the purchase?

B) This is a really good point; I'll see if I can solve this in my proposal (perhaps by including a txid:nout of the latest claim_id at the time of purchase, ultimately it will be up to the content gate keeper to decide which versi

[2018-08-20 21:09] kauffj commented on #184
A) Yes, this is only for LBC. Note that we currently all payments for content in LBC. I agree that it is not clear how we would handle all possible cases right now, but I would rather operate under the assumption we will eventually solve these than to use the lack of a perfect solution as a reason to not make any progress.

B) I think everyone in this thread understands this completely. This is no

[2018-08-20 21:12] kauffj commented on #184
Also, all privacy concerns are seem out-of-scope to this discussion. I'm for improving private usage of LBRY, but I don't see how it relates to this ticket. Transactions are already public. If you want to use LBRY privately, you'd simply conduct your transactions in a way that doesn't make them traceable to you. Whether or not claim ids are included seems unrelated.

[2018-08-20 22:28] eukreign commented on #184
I've moved the write up I did in slack over to the proposal repo and cleaned it up significantly: https://github.com/lbryio/proposals/issues/6

I've added a new `<claim_version>` value which is the hash of `txid:nout` of either the original CLAIM output (which means `claim_id==claim_version`) or of the latest UPDATE of the claim. The `BUY` includes both the `claim_id` and the `claim_version`.

Lbr

[2018-08-21 15:19] BrannonKing commented on #166
@bvbfan , Roy's approach to this problem (in btcd) was to store all of the claimtrie nodes in LevelDB. He used the node hash code as the key. This has the advantage of indexed lookups for replay. He also kept the active claims in a dictionary so that no DB lookup is required for the common usage. Do you see any advantages/disadvantages over the mmap approach? I'm assuming that you rebuild the mmap

[2018-08-21 16:09] bvbfan commented on #166
I'm not sure how accurate is LevelDB when size increase significantly, e.g. when we have more than 8GB claims, mapping files (last implementation has a couple of file with compile-time configured size) can benefit OS level access of virtual address space which will be as fast as it can, about me. Also @kaykurokawa note:

[2018-08-21 16:09] bvbfan commented on #166
I made a mistake by closing, sorry.

[2018-08-21 20:20] alyssaoc commented on #119
@kaykurokawa What is the status of this issue? I

[2018-08-21 20:44] alyssaoc commented on #134
@kaykurokawa Can this be closed? Or is this bug still happening?

[2018-08-21 20:47] alyssaoc commented on #127
@tzarebczan Is this still happen/an issue?

[2018-08-21 21:17] nikooo777 commented on #127
haven't seen it anymore on my side.

[2018-08-22 19:40] tzarebczan commented on #127
Looks like it's not happening anymore with the above examples. Did a quick scan of loggly also, looks good in the past month. Closing...

[2018-08-22 19:40] #127 closed

[2018-08-22 20:27] kaykurokawa commented on #184
I don't think being able to restore purchased content from a seed is a necessary feature, but there is technically no obstacle to restoring content from seed if you use unique addresses.

Actually no because the user does not control the time that a transaction enters the block, the miner (and network delay) does.  You'd have to use unique addresses in the metadata, or the txid:nout as lex suggest

[2018-08-22 21:30] kauffj commented on #184
@kaykurokawa txid:nout is not a unique piece of digital content. It corresponds to a specific version of a unique piece of digital content. To clarify via example: this last season of Westworld, an episode was initially shown live with a camera man visible in a shot. The version available on demand 24 hours later did not include this.

We need two separate unique values for:
- The representation o

[2018-08-23 16:50] kaykurokawa commented on #184
This is just your vision of how the system should work. I'm not saying that its incorrect, I'm saying that this vision is not enforceable on the blockchain layer because we cannot prevent people from using that layer however they want.  Attaching claim ids, or whatever, to transactions will not help you enforce this system.

What I'm trying to say is that there is no such "equivalent" that can be

[2018-08-23 17:08] BrannonKing opened #196 "getclaimsintrie: insufficent info for sorting subclaims"
In working on the mass-import-to-regtest (#188), I discovered that nEffectiveAmount is not actually serialized with the claims. The number is set right for/when new claims come into the buffer, but when you start up a fresh launch and load everything off disk, the values are trash. We do return that value in rpc/getclaimsforname, but it is recalculated there before the return. rpc/getclaimsintrie

[2018-08-23 19:33] kauffj commented on #184
No, it is how LBRY works today. Publishers are agreeing to when they submit a publish to the LBRY protocol and it is how all properly implemented software behaves, including ours. Whether or not the blockchain enforces it is irrelevant.

If a publisher issues a claim update, it is the users right to re-download the new content without paying. The daemon does this today.

If a publisher issues a ne

[2018-08-26 18:42] kaykurokawa commented on #184
Yes notice how these features/workflow in LBRY are implemented in the daemon. The blockchain provides the "transaction" and "claim name" abstraction while the DHT provides the "content" abstraction so the daemon is the place where these user work flow is implemented.

Let's talk about "proof the user made a valid purchase of the content." This does not require the blockchain layer to do anything.

[2018-08-26 19:26] kaykurokawa commented on #184
Also note that it is likely unreasonable for every full node to validate the fact that Alice bought a Star Wars movie from Disney. If I'm a full node that is not Disney, I only care that Alice paid money to Disney, in case that either Alice or Disney pays me in the future.

Only full nodes that would care is Disney's and maybe some statistic gathering entity. So they should be the only ones burden

[2018-08-27 19:47] BrannonKing commented on #132
Possibly associated with: https://github.com/bitcoin/bitcoin/commit/0f402b9263b0579b29aa0f841fc64ad58d3efba6

[2018-08-27 21:40] BrannonKing commented on #188
After the question, I did look around for other approaches but found nothing. After attempting to write the copy in C++ land, I gave up as I was unable to update the address prefix bytes on incoming data without destroying all the hashes -- essentially making it useless. I ended up with the script approach for the transfer.

[2018-08-27 21:51] BrannonKing commented on #188
From earlier conversations it sounded like copying over all the supports was less necessary; this was more about easily testing memory usage given a large number of claims. The proposed scripts don't add any supports.

[2018-08-29 21:10] kaykurokawa commented on #119
@mirgee provided https://github.com/lbryio/lbrycrd/pull/172 for a fix if someone wants to use it.
But to err on the safe side, it shall not be merged in case some applications might expect the decode function to behave as it does in Bitcoin.

A proper solution should detect to see if data to print is part of a claim transaction, and always treat that data as hex if that is the case.

No one is dep

[2018-08-30 13:29] bvbfan commented on #193
For 4, i'm using 7.3 with boost 1.66, project is still not compilable without a patch (boost changes), but you should wait to upstream merge, i can help you on that point. Also build with different boost should be noted as 6, maybe, because it has some changes time to time.
For 3, 18.04 LTS will be good enough, i can make other script to build on non-Debian environment (as i use Arch, i perform au

[2018-08-31 16:31] BrannonKing commented on #107
We currently hash in the last take-over height as well as the currently active claim. With this change are we needing to hash in take-over heights or valid heights for each claim? Or is the one take-over height sufficient?

[2018-09-03 13:59] kaykurokawa commented on #184
1. in the wallet of whoever created the tx, and than sent to whoever you want to prove that you purchased something
2. there would be no point of doing that as people can verify that the associated transaction does what it is supposed to do according to the metadata.
3. it can be part of the negotiation process, and mmaybe stored on some central server (i.e. the data server) for later retrieval
4.

[2018-09-03 16:44] BrannonKing opened #200 "mandatory code formatting complicates code reviews"
The code formatting script makes the author's exact changes ambiguous, leading to more complicated code reviews. Reviews would be easier if PRs came in without additional formatting changes.

Options:
* Don't require the formatting for the build.
* Have the person doing the merge run the formatting tool as part of that step.
* Rely upon code review only to catch strange formatting.

We don't curre

[2018-09-04 11:32] lbrynaut commented on #200
In this model, It's up to the PR author to run formatting to ensure it passes the diff check before issuing it.  Maybe that isn't the right answer, but that's what the current checking is trying to enforce.

If we're not going to use this model, I'd like to see (after the upstream merge) some kind of automated formatter that just runs clang-format nightly across the entire code base and commits ch

[2018-09-04 11:36] lbrynaut opened #201 "Travis builds sometimes cannot complete due to missing style scripts"
Travis sometimes reports that it can't find the required clang formatting scripts.  This was seen originally on OS X (where it was arbitrarily disabled without investigating further for a fix) and it is now showing on GNU/Linux.

An example build failure shows as

[code]

An example log is here:

https://travis-ci.org/lbryio/lbrycrd/jobs/424021818

[2018-09-04 11:47] bvbfan commented on #200
It looks good to me.

This is exactly how it should be, about me.

[2018-09-04 13:39] lbrynaut commented on #116
Just noting that #192 does not solve the issue posted.

[2018-09-04 13:44] lyoshenka commented on #107
pinging @kaykurokawa or @lbrynaut

[2018-09-05 14:34] kaykurokawa commented on #184
The proof of purchase contains two parts, the transaction, and a signed message associated with the private key of the transaction that basically says in plain english: "Hey, I Joe Smith (or some other forms of identity like an IP address that allows you to receive said digital content) created this transaction for the digital content associated with the unique ID. You can look up the metadata wit

[2018-09-05 15:30] eukreign commented on #184
@kaykurokawa
1. Where is the message stored?
2. Why is the message plain english instead of machine readable?

[2018-09-05 17:08] kaykurokawa commented on #184
1. in user wallet and sent wherever its needed (to the publisher presumably)
2. i just wrote it that way to be clear. yes in practice its machine readable

[2018-09-05 17:15] #97 closed

[2018-09-05 17:20] #131 closed

[2018-09-05 17:36] kaykurokawa commented on #200
I think this is fine. Because as we've discussed , many areas of the code do not conform to standard formatting and it creates very inconsistent looking code if the PR is a small change. So maybe it is best to ignore formatting issues returned by the clang auto format tool in some cases. And yes its also annoying to have to review formatting changes together with the actual change.

But I still th

[2018-09-05 18:10] eukreign commented on #184
Anything we store in user wallet that cannot be re-created from the seed also means it won't get sync'ed between users devices automatically.

If user buys a movie on their desktop and wants to watch it on their phone during a flight, they will need to remember to manually sync their wallet between their desktop and phone. Conversely, if everything is on the blockchain, then all of their wallets a

[2018-09-05 21:27] kauffj commented on #184
@kaykurokawa wouldn't that design require that a wallet address is unique to a piece of content?

As discussed up thread, it's a requirement to have a value that corresponds uniquely to a piece of content that is decoupled from an address (alternatively, we'd need to enforce unique addresses, but this also has downsides).

If a publisher has two distinct pieces of content with the same payment add

[2018-09-05 22:39] eukreign commented on #184
@kauffj my understanding of the last proposal from @kaykurokawa is that a message is created with all of the details of the purchase and the user must keep this message receipt / proof of purchase in their wallet and produce it each time they want to download content. The link between a user and the content is encoded in this message; therefore the address is no longer important (the same receivin

[2018-09-06 14:29] kauffj commented on #184
@eukreign yes, I understand that.

What I don't understand is how it handles the scenario of two pieces of content with identical payment addresses and identical prices.

What prevents me constructing two receipts from a single transaction?

[2018-09-07 18:20] BrannonKing commented on #107
Clarified goal: allow a 3rd party to prove the existence of a non-winning claim.

The design for this hard fork:

First, a word on the current computation: the claimID == hash(outPoint.hash, outPoint.n). However, the per-leaf hash used in the Merkle tree == hash(child[0], child[1], ..., hash(outPoint.hash, outPoint.n, last takeover height)), where outPoint in this context refers to the current win

[2018-09-07 23:28] BrannonKing commented on #106
I was just doing some testing on node counts for this. With a million random strings (standard 60 characters), I end up with 25 million nodes in traditional trie. With the collapsed prefixes, I end up with 1.5 million nodes after a million insertions. That's a substantial difference! Next test: the qp trie. We can talk about where to check in my tests and what to name them next week.

[2018-09-10 18:51] BrannonKing commented on #107
Answers discussed with @kaykurokawa :
1. We hash the takeover height so that it can be verified.
2. We should include a valid height as part of our claim hash in the tree. We should also include effective amount, but we don't have that data (yet -- we need a one-time upgrade to get it stored).
3. Yes, modify getnameproof output.
4. Yes, use the binary tree hashing approach for both claims and node

[2018-09-11 19:30] tzarebczan opened #203 "Consider adding pendingEffectiveAmount data to claim information"
Currently, we have a data field called EffectiveAmount which shows the current claim bid, including any tips and supports. During a claim takeover bid, the effective amount of the newly bid claim is set to 0 until the takeover completes. If another user tries to take over the vanity URL, they will only be aware of the current vanity claim bid, and not the pending one which could be outbidding thei

[2018-09-17 14:29] kaykurokawa commented on #203
Can confirm that this is indeed the case, can check via getclaimsforname for example (but also same case with getclaimbyid)

[code]

This happens because before claim's effective amount is only calculated in the claim trie. When claims are not activated yet, there are not placed in the claim trie, they are placed in a queue. In the queue, effective amount does not matter because it is only importa

[2018-09-17 16:47] bvbfan commented on #196
You mean nEffectiveAmount, right?

[2018-09-17 19:44] kaykurokawa opened #204 "Discuss character normalization scheme"
This is an issue opened up to discuss the character normalization scheme in https://github.com/lbryio/lbrycrd/pull/159 . The issue of character normalization is not a topic of expertise that the blockchain team has in particular so this should be opened up for discussion with everyone else. The details of the normalization should not affect the PR outside of the specific normalization function and

[2018-09-17 21:19] kauffj commented on #204
I haven't done a deep dive on this yet, but chiming in to say that we should avoid any US-centric solution.

[2018-09-17 22:11] BrannonKing commented on #204
A few thoughts: lbrycrd is already US-centric in that it's CLI only shows English help, and its RPC commands use English field names. It also returns JSON, which according to that standard, requires US-like periods in floating point numbers. JSON also has invariant date format requirements.

You can see here a chart of the methods that use the locale: http://userguide.icu-project.org/services Unfo

[2018-09-18 21:41] BrannonKing commented on #106
I'm attaching my experiments on this. I've concluded that the prefix trie is the right structure, and that it would drastically reduce our (present) memory usage. I've also decided that it won't be enough code to justify putting it in a separate library by itself.  I'll leave it here on the shelf and hope that we can get c++11 support in lbrycrd in the very near future.

[lbry_tries.zip](https://g

[2018-09-18 22:53] BrannonKing commented on #106
Last week I tested the code here with my same sample data: https://github.com/ytakano/radix_tree. It was slow and seemed to be a few nodes short of a full load. I didn't see a lot of other libraries that were easily accessible. I did not attempt to use Ethereum's trie code. It appeared complex, and I don't want to mix their code in with ours.

[2018-09-19 13:52] kaykurokawa commented on #204
From my understanding NFD normalization is not locale specific, but the function "lower" is.

[2018-09-19 16:46] kaykurokawa commented on #44
So a related motivation for this was the issue of synchronization, as well as confirm depth.

So lbryum-server, (now lbryumx, but still has same issue I believe) in order to access the claimtrie uses  "pass through" commands, which makes direct queries to lbrycrd and passes it along to the client. This is in contrast to the "direct response" commands used in commands related to address balances wh

[2018-09-19 18:40] lbrynaut commented on #204
Unicode is unicode, so picking a normalization form (like NFD) is language agnostic.  It's correct that the lower case algorithm we're using is.  Boost provides the locale aware version as well (via ICU), but I opted not to use that because while it is locale specific, it will not work where that locale is unavailable.  What this means is that the lower case algorithm chosen may not actually lower

[2018-09-19 18:42] lbrynaut commented on #204
Agreed, but it's a topic that I have more experience in than many.  Doesn't mean I'm an expert.

[2018-09-19 18:45] lbrynaut commented on #204
I don't agree since the unicode normalization will not be an issue.  Knowing that there may be international casing issues is something I think we can live with.  In the end, we are still doing a best effort to normalize the code points consistently, which is far better than what we have today (which is just about guaranteed to break or be inconsistent with different languages/locales).

[2018-09-19 21:15] kaykurokawa commented on #130
This is a related issue https://github.com/lbryio/lbrycrd/issues/44, and PR: https://github.com/lbryio/lbrycrd/pull/189

The code required to implement minconf is nearly identical to the code required to implement blockhash as an argument. And blockhash can be used to implement minconf (look up the block hash on the particular height), so I believe #189 should be modified to use blockhash.

[2018-09-19 23:53] BrannonKing commented on #130
Thanks for pointing out the connection. I concur on using blockhash for #44. I will make that change and resubmit #189. I will also add this (return the block hash) into #189 as I think it would be trivial. My current plan is to get a working implementation on #107 first, though, unless somebody wants to argue for this as a higher priority.

[2018-09-19 23:54] BrannonKing commented on #44
After further discussion on this, we have decided that taking a block hash will be more effective than a minconf number. I'm going to make that change and resubmit.

[2018-09-23 00:43] alyssaoc commented on #158
@bvbfan Could you let me know the status of this, please?

[2018-09-23 00:49] alyssaoc commented on #40
@lyoshenka Is this issue still valid? Does it need to be modified for the new wallet?

[2018-09-24 14:11] #40 closed

[2018-09-26 16:37] lyoshenka opened #206 "Decode protobuf-encoded claim values and return them in JSONRPC responses"
RPC commands such as `getclaimbyid` return the value of a claim. For most claims, this value is a protobuf-encoded bytestring that was created using the types in https://github.com/lbryio/types. Such values should be decoded and returned as JSON in a new `value_decoded` field.

The protobuf definitions for c++ are here: https://github.com/lbryio/types/tree/master/cpp

### Acceptance Criteria
1.
2.

[2018-10-01 20:19] BrannonKing commented on #171
Done via #207

[2018-10-01 20:19] #171 closed

[2018-10-03 17:23] kaykurokawa opened #208 "Description of Normalization Hard fork for discussion and review"
At the yet unspecified normalization hardfok date H, we wil impelement a normalization/encoding scheme into the claimtrie. Ideally this will also happen at the same time we perform the segwit soft fork with the planned upstream merge, but this has not been finalized.

Currently (and ever since lbrycrd launched), the claimtrie itself is not encoding aware. This means that each node on the claimtrie

[2018-10-04 11:52] bvbfan commented on #203
Claims have in itself nEffectiveAmount that is calculated despite current height, which is actual reason to not show it. I think we should serialize nEffectiveAmount from CClaimValue @BrannonKing told that on other issue.

[2018-10-04 16:18] lyoshenka commented on #208
@kaykurokawa @lbrynaut which of you is doing this?

[2018-10-04 17:52] alyssaoc commented on #136
closing for #175

[2018-10-04 17:52] #136 closed

[2018-10-04 17:54] alyssaoc commented on #144
@shyba Is this still a valid issue

[2018-10-04 17:58] alyssaoc commented on #138
@bvbfan Can this issue be closed?

[2018-10-04 19:22] alyssaoc opened #210 "Normalization hard fork testing and support"
## The Issue

With the blockchain upstream and normalization changes in the upcoming hard fork,
as blockchain developer,
I want to identify as many automated and manual tests as possible so that the hard fork does not break anything.

## DOD/Acceptance Criteria
Identify all interactions with the blockchain and document
Identify and document possible testing scenarios for those interactions

As a g

[2018-10-04 19:33] bvbfan commented on #138
Still not, i've plan to do RR, but i don't want to bother normalization work.

[2018-10-05 02:09] ConnorBach commented on #206
Hi! I'd like to tackle this issue. Should the new value_decoded field be returned in the UniValue claim object?

[2018-10-05 04:07] BrannonKing commented on #130
We've adjusted #44 to make the RPC methods take an optional blockhash. It will return an error if the blockhash cannot be accommodated. Is that sufficient to achieve this? Or is there value in returning a blockhash field for the case when you want the current tip? (Which would be a rare situation when the API is used by a higher-level entity.)

[2018-10-05 14:50] BrannonKing commented on #206
Yes, the new values should be returned in the existing UniValue result. You can safely add fields; try not to modify the other fields already coming out.

[2018-10-05 17:38] BrannonKing commented on #104
Having combined the two claimtrie unit test files as part of my other story to reuse unit test framework, I now agree with @lbrynaut 's comment about that being a bad move; I should have moved the unit test framework into its own file instead. The one unit test file is just too large (now knocking on 4k lines); it needs to be split into a number of smaller files.

[2018-10-06 18:36] Leopere opened #211 "lbrycrdd should have a logroll if its printing console output to logs."
Since it prints every line about every bit of indexing that it does it should be able to roll the log file a bit so that you don't end up with a full blockchain sized log file.

[2018-10-06 19:35] kaykurokawa commented on #208
currently on it

[2018-10-08 05:08] kaykurokawa commented on #210
In a fork , we must first identify the difference between the old chain and the new chain. For each test listed below, we should make sure that all the difference in the hard fork is thoroughly covered (i.e. if we are testing normalization hard fork, we must make claims that triggers normalization after the hard fork)

For Regtest :
-Increment past the fork height
-Increment past the fork height a

[2018-10-08 17:17] BrannonKing commented on #211
I think we should also audit what is currently being written to debug.log.

[2018-10-08 20:33] kaykurokawa commented on #184
Here is the non-blockchain solution that I'll propose:
https://github.com/lbryio/proposals/issues/8

[2018-10-10 15:48] nikooo777 opened #217 "Setup autodeployment to github"
On top of having S3 autodeployment I'm adding autodeployment to github for the master branch on tags.

https://docs.travis-ci.com/user/deployment/releases/

[2018-10-10 15:51] nikooo777 opened #218 "Dev setup exploration"
Explore and begin familiarizing with the lbrycrd codebase and developer environment setup

[2018-10-10 21:45] nikooo777 commented on #217
this was already done. Had no clue

[2018-10-10 21:45] #217 closed

[2018-10-10 22:09] BrannonKing commented on #208
According to the ICU docs "unpaired surrogates are replaced with U+FFFD" (aka, � ). There is no error thrown. I was thinking I would check for that character and pass the original bytes if it existed. To improve the performance, we could just do the check if the number if incoming bytes is different than the number of bytes after the conversion (but then you run the risk of � showing up in your UR

[2018-10-10 22:49] BrannonKing commented on #208
I can see where boost::locale does the conversion (in uconv.hpp), but not the implementation of the `icu` method:
[code]

[2018-10-11 04:28] tzarebczan opened #219 "Add examples to api documentation"
To add onto https://github.com/lbryio/lbrycrd/pull/187 and fulfill https://github.com/lbryio/lbry.tech/issues/139, can we generate example calls for each command?

[2018-10-11 17:54] BrannonKing commented on #210
For the string normalization, I've attached a document with the names that would change (as of 26 Sep 2018). It has about 53k items. The document shows a number of claims of this pattern: ak-WVyroHDWyCk. It's obviously generated data; do we really want to lowercase those?
[withCaps.txt](https://github.com/lbryio/lbrycrd/files/2470038/withCaps.txt)

[2018-10-11 18:21] tzarebczan commented on #210
I don't think we are actually changing anything to be lowercase, but instead, they will be treated as if all the characters were lowercase in the claimtrie. So it there was another claim (unlikely) at ak-wvyrohdwyck, the one with the highest bid would resolve at ak-wvyrohdwyck or ak-WVyroHDWyCk or AK-WVYROHDWYCK.

[2018-10-11 18:37] kauffj commented on #210
Btw @BrannonKing, claims with that pattern are from the YouTube program

[2018-10-12 16:36] BrannonKing commented on #204
One consequence of our current trie structure is that partial unicode names will no longer make sense; there's actually a data loss on visualization. Hence, our RPC method `getclaimtrie` will be even more useless than it already is. E.g.
[code]

[2018-10-13 19:51] kaykurokawa commented on #211
I removed the biggest culprit here, this would dump about 200mb worth of stuff on every claimtrie flush:
https://github.com/lbryio/lbrycrd/commit/7eca4f00a7a6d24d8386dab733e136940ef457f2

Did an audit of the other logs, they don't cause too much of a problem in terms of the volume of logs.

These definitely should be removed, as they serve no useful purpose other than debugging for devs:

https://

[2018-10-14 02:59] BrannonKing commented on #211
Your assessment looks good. I think we should also remove those 7 you suggest. I think we should keep a log entry for each user addition/subtraction, so I think most on the bottom list should stay. It looks like we may be logging added claims twice, though -- both add and insert?

[2018-10-14 05:43] bvbfan commented on #211
I'm worried of this line too -> https://github.com/lbryio/lbrycrd/pull/159/commits/80940714a1015dd8dcc22de8d53ae99bff65328f#diff-1f647c4b5527c3d3e86cfb735380b479R60

[2018-10-15 15:46] BrannonKing commented on #211
@bvbfan , I do have that line removed in my normalization work.

[2018-10-15 20:12] kaykurokawa commented on #211
The fixes in this release https://github.com/lbryio/lbrycrd/releases/tag/v0.12.2.3 will remove much of the unnecessary logging. lbrycrdd has a function that will automatically shrink large log files upon startup, so we will not implement a log roll/rotation.

Users that want a log roll/rotation should implement their own (the automatic shrinking of log files can be disabled through option -shrinkd

[2018-10-17 14:52] LucianaMarques commented on #206
Hello there,

Has any pull request been made on this issue? I'd like to give it a try!

[2018-10-17 14:57] BrannonKing commented on #206
I have seen no PRs for this yet.

[2018-10-17 17:45] #184 closed

[2018-10-17 17:45] alyssaoc commented on #184
Issue moved to [lbryio/proposals #9](https://github.com/lbryio/proposals/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-17 17:48] LucianaMarques commented on #206
Ok, I think I may have a solution in mind.

Just a question: whenever commands like getclaimid are called, there is a string that represents a value of the concerned claim. Isn't what I need to do with this number basically convert the represented number in an integer?

[2018-10-17 17:51] alyssaoc commented on #139
@shyba and @nikooo777  Is this still an issue? What is the impact/priority?

[2018-10-17 17:53] alyssaoc commented on #134
reopen if necessary

[2018-10-17 17:53] #134 closed

[2018-10-18 15:41] BrannonKing commented on #144
I didn't mean to close this. I think it's a valid issue. I think it could be a subset of the work on issue #211

[2018-10-18 15:54] BrannonKing commented on #206
This issue is somewhat more complicated than numerical conversion. The claim values are passed in as binary data (hex-encoded). The binary data is output from a protobuf serializer. You won't be able to deserialize that data without the necessary protobuf definitions. The protobuf definitions are defined in an alternate project (mentioned in the first post here). Lbrycrd does have an existing refe

[2018-10-19 18:28] BrannonKing opened #225 "old hardfork tests spend too much time incrementing blocks"
[durations.txt](https://github.com/lbryio/lbrycrd/files/2496904/durations.txt)

See the attached file for unit test runtimes. Notice that the old hardfork tests take too long. We have a better mechanism to bring the hardfork block numbers in line with the number of blocks already mined in the unit test. I.e. from the normalization fork:
[code]
Feel free to encapsulate this somehow.

### Acceptance

[2018-10-19 19:14] BrannonKing opened #226 "CClaimTrieCache::removeClaim does not need the height parameter"
... since the claim object itself knows the correct height. Please use the one on the claim object and remove the parameter and simplify the code accordingly.

[2018-10-21 17:34] LucianaMarques commented on #206
Hi, just to inform that I'm working on this. Still trying to understand some things.

[2018-10-22 14:28] lyoshenka commented on #206
@BrannonKing can you explain how this would work as a python script? when i call `getclaimbyid`, would `lbrycrd-cli` call the python script somehow?

[2018-10-22 16:38] BrannonKing commented on #206
I was picturing a python script that would call lbrycrd-cli (like this script: https://github.com/lbryio/lbrycrd/blob/add_claim_import_scripts/contrib/devtools/import_claims_from_claimsintrie_output.py). It would load that data (with `json.loads`, etc.). I it would pull down the current type definitions from lbryio/types. For each item in the data it would run the metadata through the protobuf par

[2018-10-22 19:13] lyoshenka commented on #206
why is this better than doing the decoding in lbrycrd? it seems like i'd basically always want the json output instead of the protobuf-serialized bytes.

[2018-10-22 19:35] kauffj commented on #206
@BrannonKing agreed on historical aspect of (3) but not convinced this is right long-term.

[2018-10-24 17:20] kaykurokawa commented on #219
Noting here that there are example calls for commands but it is not being  parsed properly

[2018-10-25 16:54] BrannonKing commented on #219
@tzarebczan ,  it's not clear (looking at the parent bug) whether you want command-line examples for this or JSON RPC examples.

Other thoughts: the current "example" sections in the API docs came from the embedded help text in the lbrycrd RPC methods. They are for the command line tool, and they are not consistent in their formatting or in their inclusion on every RPC method. Most of the RPC meth

[2018-10-25 19:30] kauffj commented on #219
Providing examples of how to run the commands via `cURL` or by directly running the CLI tool both make sense.

If I had to pick one, I'd probably say `cURL`, but this is not a particularly reasoned opinion. Ideally, we could just provide both or even more versions (see [Stripe API](https://stripe.com/docs/api) for an example of how this is done well).

When I looked at the existing docs, it looked

[2018-10-25 19:32] kauffj commented on #219
@NetOperatorWibby nothing for you here yet I think, but tagging you so you can follow this ticket.

[2018-10-25 23:04] kauffj commented on #204
Late comment on this, but I find rejecting claims for names with unreadable/unrenderable characters to be perfectly acceptable.

There may be other reasons this is a bad idea, in which case I defer to the blockchain team's judgement. But from a UX perspective, I think it's completely unobjectionable to reject unrenderable claim names.

[2018-10-28 03:57] vancam-pham commented on #206
Can you tell me where to get/how to produce claims for testing. I'm now in phase of testing my python script. I'm using -regtest to produce block. However, the blocks are currently empty.

[2018-10-28 06:44] Techievena commented on #225
I want to work on this. Can you please help me with what needs to be done.

[2018-10-28 06:47] Techievena commented on #226
I want to work on this

[2018-10-30 14:16] bvbfan commented on #196
#231

[2018-10-31 12:50] bvbfan commented on #203
#232

[2018-10-31 17:29] kaykurokawa commented on #130
@shyba confirmed that it #44 will fix this

[2018-10-31 17:42] #130 closed

[2018-10-31 19:53] BrannonKing commented on #44
Done via #189

[2018-10-31 19:53] #44 closed

[2018-11-02 17:57] BrannonKing opened #233 "hardfork_support_test eats failures in removeClaim"
Adding asserts to `CClaimTrieCache::removeFromExpirationQueue` to ensure that all removals happen shows that the unit test `hardfork_support_test` has four failures. I didn't see any failures in any other tests.

[2018-11-05 20:39] kaykurokawa opened #234 "Normalization UX level discussion"
Discuss here what should happen at the UX level for normalization. A lot of this will be done at the layers above lbrycrd, but some of the implementations described below will need some help from lbrycrd. I think important thing to consider here is what an unnormalized claim name is. Is it just completely invalid ? Or does it contain some information that we want to preserve?

a) After normalizati

[2018-11-05 20:51] kaykurokawa commented on #234
Personal opinions:

It seems like for a), it would be better to reject claim attempts instead of auto-normalizing since user may not be aware that normalization exists

For b), I feel that it is not necessary to preserve the unnormalized string. Maybe only downside is that users might be confused if they had claims before the normalization hard fork and sees that their claims changed..

For c), I

[2018-11-05 21:04] BrannonKing commented on #234
My vote:

a) making an claim with non-normalized characters will be unnoticeable to the user.

b) yes, the original string is always preserved. When running getClaimById you would always expect to see the original bytes. No user should ever care/know that we changed the case on DOG for our internal structure. RPC methods like getclaimtrie return original names/bytes for all claims.

c) searching f

[2018-11-05 21:13] kauffj commented on #234
My answers:

A) I think it is _probably_ safest to reject these at the blockchain level but I'm somewhat ambivalent. Relatedly, normalization should be happening at other levels and I'm not sure this is filed. @BrannonKing if we do not have an epic for changes at other levels related to normalization? If not, can you start one?

B) At the blockchain level, storing the non-normalized name would was

[2018-11-05 21:59] eukreign commented on #234
I may be missing some background on this but from a superficial point of view:

a) Magic bad. Fail fast. Reject.

b) I don't really understand this one. If a transaction is submitted with a non-normalized claim name in it, how would lbrycrd "normalize" the claim name in the transaction without modifying and thus invalidating the transaction?

c) Magic bad. Fail fast. Reject. Returning the normaliz

[2018-11-05 22:30] BrannonKing commented on #234
I don't think we should change the users data: what they put into the system should be what people see. That's what they paid for. Normalization and case indifference are there to allow people to wholly own their brand, with other niceties to help people locate items without having to be perfectly specific.

[2018-11-05 22:45] kauffj commented on #234
I'm more ambivalent on this than my original comment now that I better understand the issue.

I had never even considered continuing to display the names the way the user entered them. I had simply assumed we'd be dropping the old formatting.

For what it's worth, there is precedence of explicitly disallowing and it's the current domain system. But that doesn't mean we can't do better.

Here's som

[2018-11-05 23:12] BrannonKing commented on #234
First, an example. Consideration: 3Blue1Brown . On his domain he uses the lowercase version of that, but his channel names keep the casing. I don't know if he would be offended if we lower-cased his brand, but I can bet he would prefer that we don't.

Second, I can't think of a way that dropping the user formatting would save us space. We store the name for every claim in the DB either way.

Conce

[2018-11-06 08:19] bvbfan commented on #234
To me, user can be frustrated of word lower-casing, most of sites / applications have a simple rules of correct naming that will not affect user acceptance.
a) reject, we should not guessing or correcting user' input
b) no, simple rules - clean relationship
c) warn user that we can show only normalization form of its demand

[2018-11-06 16:11] kauffj commented on #234
OK, I'm fairly persuaded by the case to keep user formatting.

Will it be possible for claim updates to change the formatting?

[2018-11-06 20:30] BrannonKing commented on #234
@lyoshenka suggested that we don't change the structures for the output of the RPC calls; instead, we can add an original_name field to the claims. I like this; it keeps backwards compatibility on the RPC calls.

[2018-11-06 20:31] BrannonKing commented on #234
@kauffj , yes it would be possible for the claim updates to change the formatting. I like that plan!

[2018-11-07 10:53] lyoshenka commented on #234
Some premises:

- In general magic is bad, in the sense that we want clear and consistent rules for users to understand.
- Agreed with Brannon that we should not be changing user data. However, there are two users: the claim publisher and the content consumer. I think we have to change data for at least one of them. Sounds like we're leaning towards doing it to the consumer (when they search for a

[2018-11-07 17:14] kaykurokawa commented on #234
@grin for b) the trade off is mostly just a matter of whether the unnormalized version of the string is preserved and means anything or not for the users.

If the unnormalized string means something (it is preserved and shown to the user), than it allows the user to have better expressiveness. If it mean nothing, than I think there is better simplicity in how the naming works. So I think there is

[2018-11-08 02:56] kaykurokawa opened #236 "Add encoding for binary data returned from RPC, make upstream handle it and UTF8"
Three RPC/CLI issues related to the Normalization hard fork PR #159

1)
I've had some problems being able to input utf8 strings into the CLI interface .. I'm not sure what the problem is but it does not seem to be parsing the string properly, I made sure my command line supported utf8. I don't think there is any changes we need to make to lbrycrd but I could be wrong..

For RPC, input works fine (

[2018-11-08 08:16] bvbfan commented on #236
We have relation one to many, normalization name to claims and supports so we expect non-normalized string, then we find node by normalized it, results should be filter by non-normalized string again to show exactly desired claims. So we should make changes to these RPC methods as well, good point. But, we don't need such a method like checknormalization, let's make an example:
let's we have 3 cla

[2018-11-08 13:15] lyoshenka commented on #234
In general I would prefer only having one version of the string returned (either the original or the normalized version) because that's simpler and we should not be asking people to make decisions when we can make the decision for them. However I'm not sure we can do that here. The [Unicode normalization FAQ](http://www.unicode.org/faq/normalization.html) says "Programs should always compare canon

[2018-11-08 17:35] BrannonKing commented on #234
Data returned in the RPC commands typically looks like this:
[code]
The name of the node is the normalized name, and it's not "per claim". We can continue to return that name in addition to adding one more field inside the claim structures that have the original name.

[2018-11-08 17:44] kauffj commented on #234
I was making the same mistake and have updated my thinking.

[2018-11-08 18:18] bvbfan commented on #236
@BrannonKing, you are right for current normalization implementation, but i got the impression we will change it. Not test before normalization
[code]
It returns only one claim - the exactly case sensitive name, after normalization claims size will be 2. Since we can keep non-normalization name we can keep same behavior.

[2018-11-09 17:17] BrannonKing commented on #234
I've been working on this. I need to understand one more part of this: when removing items from the activation and expiration queues we compare the name and the outpoint. Do we really need to compare the name in that situation?

[2018-11-09 18:30] lyoshenka commented on #234
@BrannonKing i think a field called `name` should always contain the original name. if we are returning the normalized name, we should call it `normalized_name` to indicate that its not the name they claimed. We can also use `original_name` for the original if we want to return both and be very clear about it.

For the RPC command you gave above, I'd recommend using `normalized_name` for the top-l

[2018-11-09 18:31] lyoshenka commented on #234
I'm open to something better than `normalized_name`, but it can't simply be `name`.

[2018-11-09 18:33] lyoshenka commented on #234
Or, an alternative change to the above would be to not return any names at the top level, and to simply return a list of claim objects, all of which have `name` and `normalized_name` as fields. This also lets us be more consistent - everywhere that a claim is returned in by the API, each claim always has those two fields.

[2018-11-09 20:59] BrannonKing commented on #234
The "name" field on supports is causing some pain. Which of these is the right option?
1. Validate that the unnormalized name on the support matches exactly the unnormalized name of the claim it is supposed to support.
2. Validate that the normalized name on the support matches exactly the normalized name of the claim that it intends to support.
3. Ignore it.

I guess I'm currently going with opti

[2018-11-14 14:39] #218 closed

[2018-11-22 09:05] BrannonKing opened #237 "need to increase the default dbcache size"
`getnameproof` fails to return the proof if there is not enough coin cache to roll back to the requested block. In the current release (12.2.3) it completely boggles the application state. In the current master it simply returns too early. We presently allow up to a 50 block rollback. Upstream bitcoin ups the dbcache to 450MB. Some rough calculations on our part show that we would need 1100MB to h

[2018-11-22 11:12] bvbfan commented on #237
It depends of block size, maximum is 2MB but most of the time is pretty lower. We can set rollback to arbitrary value say ~1000 then we can throw out of memory exception, it'll be pretty noticeable what's going on.

[2018-11-23 12:42] bvbfan commented on #237
#238

[2018-11-29 09:42] BrannonKing commented on #204
I think this can be closed. Reopen it for further discussion. As it stands, we'll go with the current decisions:

1. We will use the NFD, en_US locale.

2. If the incoming UTF8 data is invalid, we will use the data but it will not be normalized or lower-cased, and will compete only against those exact bytes. We assume that current apps and clients will display partial characters (aka, � symbols) a

[2018-11-29 09:42] #204 closed

[2018-11-29 09:52] BrannonKing commented on #236
Let's change this issue to just refer to the RPC output encoding. From our discussion yesterday, it sounded like people were in favor of holding off on changing the output encoding until the upstream merge is done. It doesn't have to be done as part of the normalization branch (and there are already many changes there). Part of that requires us to change how the value field is encoded. It will nee

[2018-11-29 11:41] BrannonKing commented on #234
Back to the original post with conclusions:

We decided to use normalization for internal comparisons and competition. No normalization is required on the data before it is sent to lbrycrd.

Yes. We decided to preserve the original in the claimId table and to return that value in various RPC calls.

Yes, we normalize all inputs and return all competitors that match that.

[2018-11-29 11:41] #234 closed

[2018-11-29 12:03] BrannonKing commented on #208
Bringing in the requirements as posted internally:

Features (after fork):
1. For determining the winning claim at a given URI, we use a case-insensitive and unicode-normalized comparison. This ensures that similar accent marks compete and that differing case compete.
2. UTF8 input is supported. Non-conformant input is also supported. Thus mal-formed or partial UTF8 will still get recorded. (And t

[2018-11-29 12:07] BrannonKing commented on #208
@tiger5226 , the RPC changes will necessitate an update to https://github.com/lbryio/chainquery. You will need an additional DB column to store the normalized name, and that name may be needed for various joins. There is no issue at present to track that.

[2018-12-04 18:48] skhameneh commented on #208
Will the entire UTF-8 character set be available for claims?
Additionally, will `@` be available?  We currently treat this as a reserved character on Spee.ch

[2018-12-04 19:45] BrannonKing commented on #208
@skhameneh , the present design does not restrict any data. All possible byte combinations will continue to be available. @ and # are currently allowed in claimnames at any location, and that will be true after the fork. Any valid UTF-8 will be normalized and lower-cased. Anything that is not valid UTF-8 will compete only with those exact bytes.

[2018-12-04 21:13] tzarebczan opened #242 "Claim abandon fails - 64: non-mandatory-script-verify-flag (Data push larger than necessary)"
When abandoning certain claims, they are rejected by the mempool.  Not sure if this is related to the dust issue we saw in the past (https://github.com/lbryio/lbrycrd/issues/186) as the value here is higher.

[code]

decoded tx:
[code]

[2018-12-05 20:01] #139 closed

[2018-12-05 20:02] alyssaoc commented on #139
closing per conversation with Niko and Victor

[2018-12-05 21:04] kaykurokawa opened #243 "Block decrement can put claimtrie in erroneous state"
When there is a claim/support in the queue (has not been activated yet, and has activation height X), it can be put into the claimtrie at some height Y less than X if a takeover is triggered (some other claim wins the name, or winning claim abandoned). This condition shall be called "early activation".

If an active block contains a claim with "early activation" and was decremented, the undo infor

[2018-12-05 21:35] kaykurokawa commented on #243
Fix here: https://github.com/lbryio/lbrycrd/pull/244

[2018-12-06 21:35] tzarebczan opened #245 "Change extended public and private prefixes to match torba"
See original discussion in https://github.com/lbryio/torba/issues/45. Since Torba matched lbryum and most users are on lbryum wallets, and lbrycrd doesn't use hd wallets yet, it makes sense to change this on LBRYcrd to match the light wallet.

@kaykurokawa agreed via chat:
[code]

[2018-12-06 22:38] alyssaoc opened #246 "Repo Standards review"
## The Issue

In order to ensure the repo document standard is complete
as a team lead,
I want to review and comment on the standard.

https://lbry.tech/resources/repository-standards

### Acceptance Criteria
1. Review the document
2. Provide comments for discussion at team leads meeting

### Definition of Done
- [ ] Documentation updated

[2018-12-10 12:08] bvbfan commented on #196
Note implementation in https://github.com/lbryio/lbrycrd/tree/claimsforname_value (it's last commit in). When someone has a time for it, can gives a try.

[2018-12-12 18:19] alyssaoc commented on #245
This will become relevant with the upstream merge

[2018-12-12 23:45] kaykurokawa opened #248 "Normalization Hardfork Computation Time"
I'm making some notes of the computation time required for the normalization hard fork, based on 950b9c1  #235 with patch https://github.com/lbryio/lbrycrd/pull/239 to test normalization hard fork on mainnet. Used my laptop: i5-6200U

To compute the block at normalization took about 1min45 seconds

To decrement this block takes about 30 seconds

Further, directly after passing the normalization he

[2018-12-13 02:15] kaykurokawa commented on #236
I tried changing https://github.com/lbryio/lbrycrd/blob/master/src/univalue/lib/univalue_write.cpp#L15 to not encode unicode in such format, but this change was not sufficient to print out utf8 characters through the CLI. The below error was returned,

error: couldn't parse reply from server

[2018-12-13 08:58] BrannonKing commented on #236
@kaykurokawa , I did the same change originally and saw the same error. I realized that the univalue changes went all across the codebase. Hence, the only approach I had was to upgrade the whole package. That's what I did in the branch named "normalization_plus_base64". You're welcome to rebase that branch if needed.

[2018-12-13 15:46] BrannonKing commented on #248
It goes much faster if you compile it with optimizations enabled (CXXFLAGS=-O2 ...). I too had the same quandary, though. In looking at it just now I realized that the verification rolls back the past 100 blocks, and for each of them it rolls forward again. Doing that on the hard-fork transition block  would account for 2+ minutes of your verification time. However, I don't actually know how long

[2018-12-14 07:31] BrannonKing commented on #201
I think this is fixed via #241. I'll reopen this if I see the error again.

[2018-12-14 07:31] #201 closed

[2018-12-15 16:20] tzarebczan commented on #203
@bvbfan does your fix also take into account supports? I also noticed supports don't show until the takeover occurs.

[2018-12-17 08:33] bvbfan commented on #203
@tzarebczan it should.

[2018-12-19 09:09] bvbfan commented on #196
#249

[2019-01-07 17:09] kaykurokawa commented on #245
For the Core upstream merge, please make sure that  base58Prefixes[EXT_PUBLIC_KEY] and base58Prefixes[EXT_SECRET_KEY] in chainparams.cpp remains the same as what is used in Bitcoin, and not what is currently used in lbrycrd.

Torba uses the same prefixes as Bitcoin for mainnet,testnet, and regtest. See: https://github.com/lbryio/torba/blob/master/torba/coin/bitcoinsegwit.py

(and here is Bitcoin c

[2019-01-07 20:55] kaykurokawa commented on #242
The transaction with the claim that the above transaction posted by tom is abandoning

{
  "hex": "01000000012e4eb792214ac2d5088b9d0a3d117c5cae3f4085e5ef8e867586720fbb0360ee010000006a473044022060c2e6dd693cc863d70d20cbd6972923018f020b1a087e2bd7686f3be4707c0d02207fabb2d2296a24ebdc0b3f9b1457c50c4b1426f1875be616f0b6ac824f55a8aa01210346feb5f53dac025b49c8c97e5b46a6f810c5ae18e62d046c744825f924ae915bfffff

[2019-01-08 18:35] tzarebczan commented on #242
I have a wallet file with the claim that has this issue if anyone needs it (sent to @kaykurokawa already)

[2019-01-21 01:12] kaykurokawa commented on #242
The error code that is being flagged here is: SCRIPT_ERR_MINIMALDATA , and it is checked here
https://github.com/lbryio/lbrycrd/blob/master/src/script/interpreter.cpp#L210 by function CheckMinimalPush() . This function tries to verify that when pushing data to the stack, the method that is used is of minimal size (as there are multiple ways of pushing data on to the stack, https://en.bitcoin.it/wi

[2019-01-21 21:21] tzarebczan commented on #219
@BrannonKing - the SDK team went ahead with the below output format for examples. I think LBRYcrd should be able to do something similar. Lex's plan is to execute these and grab outputs interactively via unit tests.
https://gist.github.com/tzarebczan/1af2e79ba365a006d1b1f0079a3cb03c
https://github.com/lbryio/lbry/pull/1790

[2019-01-30 15:09] lbrynaut commented on #242
Related:
https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2014-November/006878.html

https://bitcoincore.org/en/2016/01/26/segwit-benefits/

[2019-02-06 19:27] BrannonKing opened #252 "block creation rate on testnet is broken; fix it"
We currently have 900k+ blocks on testnet. This isn't right. There is some logic there to allow a rapid decline in required work effort (as testers come and go in a group). There is likely some bug with this mechanism.

[2019-02-09 14:42] BrannonKing opened #254 "Ctrl+C handler doesn't work on Windows build"
Ctrl+C on the server doesn't persist the data. Ctrl+C kill it after generating some blocks (in regtest). Rerun and see that your generated blocks are missing. Also, there's a 90 second stall when starting the Windows build. Track these down after the upstream merge if it's not fixed therein.

[2019-02-12 22:20] #252 closed

[2019-02-12 22:24] #65 closed

[2019-02-12 22:45] BrannonKing commented on #116
The `sendrawtransaction` method relays messages even if they aren't accepted into the local memory pool. This has been repaired in the upstream bitcoin, in mid 2016.

[2019-02-12 22:47] BrannonKing commented on #219
I fixed the generator to include an examples field. It will populate it if the existing RPC had examples specified in its CLI help. I've checked in the new generator and the new api_v1.json file, but I have not gone through and added example sections to our claimtrie calls.

[2019-02-12 23:08] BrannonKing commented on #254
Ctrl+C handler was indeed added upstream: https://github.com/bitcoin/bitcoin/blob/029d28a7aa5619973eb59fe445b9a4186c0c2a58/src/init.cpp#L914

[2019-02-13 16:07] #208 closed

[2019-02-13 17:16] tiger5226 opened #255 "Normalization - Do we care about UCA versions"
I just wanted to get this conversation out of slack and have documented for historical purposes.

The unicode standards are always updated

<img width="649" alt="screen shot 2019-02-13 at 12 10 28 pm" src="https://user-images.githubusercontent.com/3402064/52730003-6058c980-2f88-11e9-97a3-8a7a1f6e256a.png">

LBRYcrd is use the ICU library for unicode support v57.1. This uses [UCA 8.0](http://www.un

[2019-02-13 17:43] BrannonKing commented on #107
We've had new requirements on this. It now needs to implement all necessary support for this: https://www.notion.so/lbry/Q-A-on-RPC-results-verification-44888d23efa3475a90eec997f9bf3103 . It also needs to return the claim_sequence field in all claim RPC calls.

[2019-02-20 01:12] kauffj opened #256 "Update README to explain how to call server"
The README explains how to start `lbrycrd` in server mode, but does not explain how to actually call the server or provide any sample calls. It would be good if it did.

[2019-02-20 01:16] BrannonKing commented on #256
Do you think it should point to the CLI examples at lbry.tech ?

[2019-02-20 01:17] tzarebczan commented on #256
I think a quick example (getinfo is a good one) with a link to the CLI would do.

[2019-02-21 03:31] BrannonKing commented on #256
Note: do #246 when you do this one.

[2019-02-21 03:41] BrannonKing commented on #255
After upstream merge, update Boost and ICU versions to match Unicode 11. In fact, can we ditch the lbrycrd_dependencies repo and use the "depends" folder instead?

[2019-02-22 17:11] kauffj commented on #256
link to https://lbry.tech/api/blockchain when this is done as well

[2019-03-08 22:24] BrannonKing commented on #254
I verified that this is fixed with the upstream merge.

[2019-03-08 22:24] #254 closed

[2019-03-08 22:25] BrannonKing commented on #219
@NetOperatorWibby , what do I need to do to close this ticket?

[2019-03-08 22:31] BrannonKing commented on #248
I'm closing this as "won't fix". It's not going to be a problem four hours after the hard fork is live. A lot of the time is in the block file seek time. (That's in the bitcoin core code.) The other time is in the trie construction, which we are fixing elsewhere (and won't have done before the hardfork hits.)

[2019-03-08 22:31] #248 closed

[2019-03-08 22:39] BrannonKing commented on #255
Upstream merge now includes ICU 62.

[2019-03-08 23:33] BrannonKing commented on #129
I feel like this should be the standard:
`-Wall -Wextra -Wno-implicit-fallthrough -Wno-unused-parameter`
Right now, that much works on the post-merged code.

[2019-03-08 23:33] #129 closed

[2019-03-11 16:13] tzarebczan commented on #219
@BrannonKing lbry.tech reads the json from here:  https://github.com/lbryio/lbrycrd/blob/add_api_docs_scripts/contrib/devtools/generated/api_v1.json

(https://github.com/lbryio/lbry.tech/blob/b6b274aa321f44cae057dadae300650cb082cfa9/app/components/edit-link.js)

Sounds like this link may need to be updated?

[2019-03-11 16:30] NetOperatorWibby commented on #219
@BrannonKing You may be all set. I'll test it in tech first.

[2019-03-11 16:54] NetOperatorWibby commented on #219
So, looks like JSDelivr has a cached version of the api json file so I had to email them to get it purged. No idea how long that's gonna take. Until they finish their purge tool, we'll have to keep emailing them with purge requests.

Another options is to version the compiled JSON file inside the `generated` folder.

[2019-03-11 16:59] NetOperatorWibby commented on #219
Something weird is happening. Just realized I'm seeing the examples rendered inside of the description.

[code]

[2019-03-11 17:23] BrannonKing commented on #219
How do I version it? When I pull up https://github.com/lbryio/lbrycrd/blob/master/contrib/devtools/generated/api_v1.json I see that "Unlock the wallet" is correct.

[2019-03-11 17:30] NetOperatorWibby commented on #219
By "version", I was thinking of doing something like `/generated/0.1.0/api.json`. However, I don't think that is necessary at this time since I _am_ seeing `examples`, they are merged with `description` for some reason.

[2019-03-11 17:55] BrannonKing commented on #219
They were merged with description before I changed it a month ago. You're seeing an old version of the api_v1.json file.

[2019-03-11 19:54] NetOperatorWibby commented on #219
https://cdn.jsdelivr.net/gh/lbryio/lbrycrd@master/contrib/devtools/generated/api_v1.json is still showing examples inside the description.

My email got a response from JSDelivr and I ran the curl command to purge twice. Still no change in the link above though. Maybe we just have to wait. I'll come back to this tomorrow.

[2019-03-12 18:06] BrannonKing commented on #206
@vancam-pham , I apologize for never replying to your query last October. That was an oversight.

[2019-03-19 14:50] binaryflesh opened #261 "add brief Regtest description and link to setup"
As a new user coming from the infosec side of things, 'regtest' is usually an alias to [fuzzing](https://en.wikipedia.org/wiki/Fuzzing). While writing a binding to the API, I was under impression to use testnet with my code and I thought '-regtest' was mainly an internal feature for developers on lbrycrd. Could there be mention of [ideal developer setup](https://lbry.tech/resources/regtest-setup)

[2019-03-19 17:09] tzarebczan commented on #261
Thanks for opening this issue @binaryflesh. Definitely something we need to mention here/how it works/where to find setup instructions.

[2019-03-20 00:34] ekxoiner commented on #162
Hai,

Saya baru saja menandatangani petisi "Binance: Bitcoin Black (BCB) on
Binance" dan ingin tahu apakah Anda dapat membantu dengan menambahkan nama
Anda.

Tujuan kami adalah untuk mencapai 1.500 tanda tangan dan kami membutuhkan
dukungan lebih banyak. Anda dapat membaca lebih banyak petisi dan
menandatanganinya di sini:

http://chng.it/QJdVBbLJn7

Terima kasih!
Wahyanto

[2019-03-20 17:27] lbrynaut commented on #186
The transaction created has no value being spent, which is correctly identified as below the threshold for dust. A solution is to create a transaction that sends a non-zero value.

[2019-03-20 17:27] #186 closed

[2019-03-22 14:44] tzarebczan commented on #245
It's not only the extended keys that are different, but the pubkey and script prefixes are as well: https://github.com/lbryio/torba/blob/master/torba/coin/bitcoinsegwit.py#L65 . What are the ramifications of changing those on LBRYcrd?

[2019-03-22 16:29] tzarebczan commented on #245
Nevermind, Kay had linked the wrong torba params - here they are on lbrynet: https://github.com/lbryio/lbry/blob/master/lbrynet/extras/wallet/ledger.py#L35

So the prefixes do match lbrycrd, just the extended ones don't.

[2019-03-22 18:07] tzarebczan commented on #245
We should also ensure that the BIP44 constant for LBRY is used: https://github.com/satoshilabs/slips/blob/master/slip-0044.md

[2019-03-28 14:57] tzarebczan opened #264 "Investigate lbrycrd mode without storing claimtrie data in memory"
Some services, like exchanges and pools, will not care about claim trie data. Is it possible to have a mode or separate binary that's only for transactional data?

[2019-03-28 15:35] BrannonKing commented on #264
I like this idea, but the root hash of the trie is included in the block. I can't think of a way to compute that without the data being there, and transferring it from somewhere else could be risky. The memory improvements are coming very soon and should buy us a lot of breathing room.

[2019-03-28 17:52] BrannonKing commented on #219
I have no idea how to update jsdelivr.net or why you might be pulling resources from there. I don't see why that would keep this issue open.

[2019-04-03 17:18] #210 closed

[2019-04-03 22:30] kauffj commented on #219
This seems like it's in @NetOperatorWibby's court at this point.

[2019-04-22 19:35] NetOperatorWibby commented on #219
Could the examples match what the SDK API file is doing? https://github.com/lbryio/lbry/blob/master/docs/api.json#L49-L57

[code]

[2019-05-06 22:30] BrannonKing commented on #225
done via cherry-pick

[2019-05-06 22:30] #225 closed

[2019-05-06 22:42] BrannonKing commented on #119
fixed via cherry-pick

[2019-05-06 22:42] #119 closed

[2019-05-07 19:43] lyoshenka commented on #255
doing some cleaning. reopen if this is still active.

[2019-05-07 19:43] #255 closed

[2019-05-07 20:43] BrannonKing commented on #255
To clarify one thing: I'm planning to ship the next release with ICU 63.2 (which is still Unicode 11).

[2019-05-07 22:33] BrannonKing commented on #151
merged

[2019-05-07 22:33] #151 closed

[2019-05-08 14:42] BrannonKing commented on #245
This is done correctly in the now-current master. Closing.

[2019-05-08 14:42] #245 closed

[2019-05-08 14:46] BrannonKing commented on #116
This is fixed now that we have the upstream master merged.

[2019-05-08 14:46] #116 closed

[2019-05-08 14:48] BrannonKing commented on #264
Closing as a duplicate of #166

[2019-05-08 14:48] #264 closed

[2019-05-08 14:49] BrannonKing commented on #174
Rebase on 0.17 is done.

[2019-05-08 14:49] #174 closed

[2019-05-08 14:52] BrannonKing commented on #203
Updated requirement: we need to expose queued supports in the RPC methods. These should probably go in the "supports without claims" section.

[2019-05-08 15:09] BrannonKing commented on #206
I'm closing this as rejected. It's out of scope for the foreseeable future. It is easily done in Python3 utilizing the SDK:
[code]

[2019-05-08 15:09] #206 closed

[2019-05-08 15:15] BrannonKing opened #267 "add RPC method to return changed/removed claims in a block"
I was thinking something like this:
[code]

Also, make sure that the other RPC methods return the takeover height.

[2019-05-08 15:21] BrannonKing opened #268 "getClaimById needs to support a partial ID"
The getClaimById method needs to work with a front portion of the ID -- a shortened ID. If there are multiple matches it could return an error.

[2019-05-08 15:23] BrannonKing opened #269 "getclaimsintrie method needs to support wildcards"
`getclaimsintrie my_name_*_suffix`

[2019-05-08 15:29] BrannonKing opened #270 "new RPC method for querying with bid & sequence"
We need a new RPC method that supports more robust querying of the claim trie. This will eventually replace getclaimsforname, and it will need a corresponding "proof" RPC method that returns the merkle tree for the queried data. Requirements:

1. Allow querying on name, where it will return the winning bid for that claim name.
2. Allow querying on name and claim_id or partial claim_id.
3. Allow qu

[2019-05-08 15:39] BrannonKing commented on #236
Done in master. We now return hexadecimal for the value fields.

[2019-05-08 15:39] #236 closed

[2019-05-08 15:46] BrannonKing commented on #133
I'm closing this as unreproducible. The serialization code has been updated with the upstream merge. Also, the code for loading the trie will be different with the new memory improvements.

[2019-05-08 15:46] #133 closed

[2019-05-08 16:05] BrannonKing opened #271 "support all payment types (P2WPKH, P2WSH, P2SH) as suffixes for our claim OPs"
When I was testing the claimname RPC implementation with a default TX, the default payment type was P2WSH. This was causing our validation to fail. It shouldn't fail. We should strip the claim prefix from any of the standard payment transaction types; they should all work. For testing, try changing the m_change_type value in the claimname RPC method.

[2019-05-08 16:16] BrannonKing opened #272 "add optional metadata for supports"
This is prototyped in the metadata_for_supports branch. This sample implementation doesn't require a hard-fork in the code, but it probably needs one to ensure that enough people get the change. If we could instead get the metadata into the witness section of the block, we may be able to make this usable without a hard fork. See #273

This is to enable options for advertisements and certifications

[2019-05-08 16:17] BrannonKing opened #273 "allow claim metadata in the witness portion of the block"
This will allow us to discount the metadata to 25% of the "space in the block" cost.

[2019-05-08 21:30] BrannonKing commented on #193
The functional tests should run as part of the "quality" stage of the build. It should run the test/functional/test_runner.py, test/lint/all, and test/util/*.py

[2019-05-10 00:12] BrannonKing commented on #219
Done enough for now.

[2019-05-10 00:12] #219 closed

[2019-05-11 02:42] BrannonKing commented on #145
Now that the new one acts like a cache, we decided that renaming it was not necessary.

[2019-05-11 02:42] #145 closed

[2019-05-13 21:24] BrannonKing commented on #193
A word of warning on the functional tests before I forget: I think that the vars in the config.ini.in correspond to vars in configure.ac . I ran through some of the functional tests today; I had to do quite a bit of bitcoin renaming and port updating  (search 8332) to make it work.
[code]
However, I think the second sed messes up the configure.ac correspondence.

[2019-05-19 15:07] cod3gen opened #277 "Slow responses and out of memory issues"
Just updated to the latest master of lbrycrd a couple days ago, but have not been able to make it stable. Daemon will shutdown after a couple rpc calls to getclaimtrie and/or getblocktemplate, and all calls are generally very slow to execute, espescially getclaimtrie which takes from 60000-80000ms.

Daemon shuts down for apparently no good reason, but every now and then i see `Error: Out of memory

[2019-05-19 15:13] tzarebczan commented on #277
Thanks for opening this issue! Can we show you [some appreciation](https://LBRY.com/FAQ/appreciation) for your time? We'll take a look into this.

We recently merged lots of Bitcoin upstream changes and I'm guessing there are still a few kinks to work out. I'll give it a shot sometime this week also. Would you mind trying to backup your current data (besides wallet) and syncing from scratch to see

[2019-05-19 15:25] bvbfan commented on #277
We are aware of this issues, hopefully we will merge our work past couple of months, soon. https://github.com/lbryio/lbrycrd/pull/276

[2019-05-20 16:46] BrannonKing commented on #277
@cod3gen , is getclaimtrie in a method that you use often? We had planned to remove that in our next software release. It won't scale. The current RPC framework in lbrycrd (and its bitcoin base) does not allow streaming output; it requires the entire JSON object in RAM.

[2019-05-20 17:58] cod3gen commented on #277
Since you say you where going to remove it, i had to check what it actually is used for... I operate powermining.pw mining pool, based on yiimp stratum. If claimtrie is missing from getblocktemplate, it will try to retrieve claim hash from getclaimtrie... Which then again seems to dump all claims on chain? No wonder its taking ages to process.. Really not a optimal alternative method which really

[2019-05-20 18:07] BrannonKing commented on #277
Excellent explanation; you've pointed out that the claimtrie field is missing in the getblocktemplate return in the current master. That is a definite oversight on our part. I'll get that rectified shortly.

[2019-05-20 18:55] cod3gen commented on #277
Yeah, started latest version and claimtrie is missing from blocktemplate, so once that`s in place again it most likely work as normal for pool operations. Beside getblocktemplate, what other commands would reveal claimtrie hex?

Also tested a bit more about the out of memory problem.. After 1-3 runs of either getclaimtrie OR getclaimsintrie, will result in daemon crash complaining out of memory. W

[2019-05-20 18:59] cod3gen commented on #277
Will rebuild latest master once a fix have been applied :-)

[2019-05-20 19:03] BrannonKing commented on #277
I don't think there is any other way to get the value you are looking for. getblockheader will includes a field named nameclaimroot that has the value you are looking for on mined data, but not on pre-mined data (which I assume is what you need the block template for).

[2019-05-20 19:06] BrannonKing commented on #277
I also want to confirm that @bvbfan and I were seeing the same behavior where each call to getclaimsintrie or getclaimtrie leaks to RAM the entire return value.

[2019-05-21 14:56] osiztechnologies opened #278 "lbrycrdd crashes on after update new release package"
We got below error message from terminal after update the v0.12.4.1 package.

lbrycrdd: main.cpp:2124: bool DisconnectBlock(const CBlock&, CValidationState&, const CBlockIndex*, CCoinsViewCache&, CClaimTrieCache&, bool*): Assertion `pindex->GetBlockHash() == trieCache.getBestBlock()' failed.
Aborted (core dumped)

we have tried -reindex. but not working properly.

Kindly guide how to resolve this

[2019-05-21 15:50] BrannonKing commented on #278
What version were you running before? You're using an official build or you compiled it yourself? Do you have anything in the wallet associated with that instance (or would it be okay to lose that wallet)?

[2019-05-21 20:29] lyoshenka commented on #270
sdk ended up taking this over

[2019-05-21 20:29] #270 closed

[2019-05-22 01:30] tzarebczan commented on #278
Also, how much memory is available on the server? LBRYcrd requires around 4GB to run currently.

[2019-05-22 01:32] tzarebczan commented on #277
Hey @cod3gen, thanks for pointing out this issue! Can we show you some [appreciation](https://lbry.com/faq/appreciation)?

[2019-05-22 05:45] osiztechnologies commented on #278
What version were you running before?   -   12.2.0
What OS are you on? - ubuntu 16.04
You're using an official build or you compiled it yourself?  - lbrycrd-linux.zip - v0.12.4.1
What block number failed? - above 450000

[2019-05-22 06:07] osiztechnologies commented on #278
@tzarebczan

we have used 16GB of memory in instance.
Kindly share how to clear the data/banned list from the wallet.

[2019-05-22 14:53] tzarebczan commented on #278
Yes, sounds like you were on the old chain and need to clear out. The link I shared before has this information. You pretty much want to clear out everything in the lbrycrd folder **except for your wallet, and configuration file**.

[2019-05-22 15:14] BrannonKing commented on #278
0.12.4.0 contained a hard-fork that went live at the end of March. That means you've been on the wrong chain for two months. Sure it was failing on 450000 rather than 540000 ?

[2019-05-23 08:36] osiztechnologies commented on #278
@tzarebczan we have tried. but same issue occurred again.

[2019-05-23 19:53] BrannonKing commented on #278
We don't have enough information to solve this at the moment. I need some log files. Can you upload them somewhere and put a link here?

[2019-05-24 08:18] osiztechnologies commented on #278
Hereby i have attached debug.log file for your reference.
[debug.log](https://github.com/lbryio/lbrycrd/files/3215811/debug.log)

[2019-05-24 13:29] BrannonKing commented on #278
Thanks for the log file. Here's what I get from the log file: the last time that your older version was ran it wasn't clean killed. I.e. it was killed with SIGKILL rather than SIGTERM or SIGINT. Hence, the database was not in a clean state, it was probably corrupted. After that, I see many attempts to run that all crash in a similar manner. It's possible that they are crashing on corrupt data in t

[2019-05-27 08:30] osiztechnologies commented on #278
@BrannonKing Kindly share how to overcome this issue.

[2019-05-28 02:31] shyba opened #282 "support GCC 8.3 or document that 6 should be used"
tried and bdb build fails. GCC 6 works
error output is huge, but this is repeated all over the place:
[code]

[2019-05-28 12:11] lbrynaut commented on #282
Thanks @shyba .  The reported issue is specifically for building dependencies, via reproducible build.  A known work-around is to run the script as: `CC=gcc-6 CXX=g++-6 ./reproducible_build.sh`

[2019-05-28 18:02] tzarebczan commented on #278
@osiztechnologies have you followed the directions above (https://github.com/lbryio/lbrycrd/issues/278#issuecomment-494837854) or on https://lbry.com/news/hf1903 ?

Shoot me a DM on chat.lbry.com (@jiggytom) if you need help with this process. Closing the issue for now as it seems to be upgrade related.

[2019-05-28 18:02] #278 closed

[2019-05-28 21:50] BrannonKing commented on #277
@cod3gen , the current master now includes the correct data in the getblocktemplate method. You may test it. Be careful, though. We are planning a few more major changes and a lot of testing on it over the next few weeks as we prepare for the next software release. It's not well-tested at the moment. Treat it with alpha status. Don't put any serious money in it. Feel free to report any further iss

[2019-05-28 21:50] #277 closed

[2019-05-29 21:09] BrannonKing commented on #282
Saving link: https://patchwork.ozlabs.org/patch/932375/

[2019-06-01 04:50] tzarebczan commented on #272
Today supports cannot be updated, and supports can't support other supports. Any reason not to allow either or those, or it's just a matter of implementation? I could see use cases for both of those - updating a comment or review that's in the form of a support, and user's being able to support a comment / review.

Any performance concerns as opposed to just doing the same with non winning claims

[2019-06-01 04:53] tzarebczan commented on #268
The wallet server has implemented this, could be used as reference: https://github.com/lbryio/lbry/pull/2173

[2019-06-03 14:00] BrannonKing commented on #272
@tzarebczan , we've had some discussion on adding what you suggest to supports. However, the current thinking is that if you want those features you should just use a claim.

Supports can be updated; spend and reacquire one. The update command simply ensures that the spend and reacquire happen in the same block, but the consequence of it overlapping a block boundary would typically go unnoticed.

[2019-06-06 17:53] BrannonKing commented on #256
For review at https://github.com/lbryio/lbrycrd/tree/depends_build_all

[2019-06-06 17:54] BrannonKing commented on #261
For review at https://github.com/lbryio/lbrycrd/tree/depends_build_all

[2019-06-06 17:56] BrannonKing commented on #282
Yesterday I realized that the "depends" build had this fixed ages ago (in upstream bitcoin which we recently merged). @shyba tested it also and saw no problems.

[2019-06-06 17:56] BrannonKing commented on #246
For review at https://github.com/lbryio/lbrycrd/tree/depends_build_all

[2019-06-17 21:49] BrannonKing commented on #246
in master now

[2019-06-17 21:49] #246 closed

[2019-06-17 21:50] BrannonKing commented on #282
in master now. (use build.sh or packaging/build_*)

[2019-06-17 21:50] #282 closed

[2019-06-17 21:51] BrannonKing commented on #261
merged.

[2019-06-17 21:51] #261 closed

[2019-06-17 21:53] BrannonKing commented on #256
Merged.

[2019-06-17 21:53] #256 closed

[2019-06-17 22:04] BrannonKing opened #285 "running lbrycrdd in WSL fails"
Reproduce this easily by running the Linux build of `test_lbrycrd -t util_tests` from a WSL prompt. Test it again after WSL 2 is available.

[2019-06-19 19:51] BrannonKing commented on #144
@lbrynaut reports that repeatedly calling "generate 1" significantly increases the log size. This appears to just be the standard logging for every new block -- log new claims, supports, etc. I think we should revisit that logging as part of this issue. Maybe by default we just summarize each new block, and maybe we don't bother to summarize those that we generate locally.

[2019-06-20 17:55] BrannonKing commented on #196
Capturing some conversation on this:

Brannon [Today at 10:46 AM]
I was going to remove the superfluous getEffectiveAmountForClaim method, but I guess I'll hold off on that a little longer as I discovered one legitimate use of it. Clarification: in the mem_improve branch, we're initializing the effective value as we load the trie. We also keep it up to date whenever we modify the trie. However, we

[2019-07-01 17:31] BrannonKing opened #287 "expiration fork isn't set in miner.cpp"
The fork expiration isn't set in miner.cpp. This causes a failure when testing mining on regtest (when mining past the expiration fork -- use the fuzz test). This is because the mined block doesn't have the same expiration time that the block validation uses.

I'd like to see us remove the expiration time state from claimtrie and claimtriecache. It should check the expiration height computation in

[2019-07-01 18:45] #106 closed

[2019-07-01 18:45] #108 closed

[2019-07-01 18:45] #138 closed

[2019-07-01 18:45] #158 closed

[2019-07-03 22:01] BrannonKing opened #293 "regtest vs lbrycrdreg"
please make the name of the params match their chain lookup id.

[2019-07-08 15:38] tzarebczan opened #294 "allow bip44 address option when creating wallet"
Torba and lbrycrd use a different standard (bip44 vs bip32) so private keys do not produce the same set of addresses. I understand we don't want the bip44 method to be the default, but there should be an option to do so when creating a wallet.

[2019-07-10 14:34] bvbfan commented on #287
#296

[2019-07-10 15:47] BrannonKing commented on #294
This is potentially a relevant comment from Optech:

"Bitcoin Core #15427 extends the utxoupdatepsbt RPC with a descriptors parameter that takes an output script descriptor and uses it to update a BIP174 Partially-Signed Bitcoin Transaction (PSBT) with information about the scripts (addresses) involved in the transaction. This is in addition to the RPC’s previous behavior of adding information to

[2019-07-22 20:27] #287 closed

[2019-07-24 17:41] BrannonKing commented on #273
@lbrynaut and I projected that the ROI on this is negative. And we're not actually sure that we want to give a space discount for the metadata.

[2019-07-24 17:41] #273 closed

[2019-07-25 22:32] BrannonKing commented on #166
Now that we have the cache trie separated from the base trie, the next step is to make the base trie actually just be the LevelDB data that we already write to disk to persist that trie. We don't need to load the base trie into RAM. Instead, we can just pull the nodes directly from there as necessary. Things that need to happen:
1. base->find(...) becomes a DB lookup on node name.
2. base->nodes(.

[2019-08-18 22:54] danger89 opened #304 "Put -getinfo on API"
Currently the only way of getting information about the node is running the following command on the command-line:

`lbrycrd-cli -getinfo`

Please, also provide a JSON RPC interface, for example with `getinfo` method:

[code]
Regards,
Melroy

[2019-08-18 22:57] eggplantbren commented on #304
I think `getinfo` only exists on old versions of `lbrycrdd` and has been replaced with other things. Apart from that I'll let someone else answer the rest of the issue.

[2019-08-18 23:24] danger89 commented on #304
You are right. Let's just use: `getblockchaininfo` & `getnetworkinfo` methods.

[2019-08-18 23:24] #304 closed

[2019-08-22 03:52] tiger5226 opened #306 "Todo left in help info 0.17.2.1"
Todo in help info

[code]

[2019-08-22 03:53] tiger5226 commented on #306
In addition to this, it would be best if these parameters were optional. Like supporting a name only. would make testing easier.

[2019-08-22 22:25] tzarebczan opened #307 "check dustrelayfee and how this affects vouts"
We are having an issue with small vout transactions not being accepted, even though the fees are higher than the dustrelayfee, the client still treats it as dust.

[2019-08-23 14:45] bvbfan commented on #306
Name + (partial) claimId, which specify a distinct claim, or best one.

[2019-08-24 00:50] tiger5226 commented on #306
Just a name would be best with the option of passing a claimid to make it distinct.

[2019-08-27 17:43] tzarebczan opened #309 "Improve behavior when killing process abruptly / machine dying"
Today, if you kill lbrycrd without using the stop command or if the machine crashes, you'll get an error about reindexing and reindexing chainstate. Per @BrannonKing , reindex-chainstate may not work well in all instances and should be avoided.

We should also somehow store the state better so it's able to recover from these types of crashes.

[2019-08-27 22:01] BrannonKing opened #310 "supportclaim RPC needs an option to output to the supported claim's address"
A request from the team: allow me to use the CLI to create a "tip" -- a support that can be spent by the owner of the supported claim.

[2019-09-02 13:40] bvbfan commented on #306
https://github.com/lbryio/lbrycrd/pull/303/commits/59a3b669f8c7cc75397212fa579adbb43b7c2fc7

[2019-09-03 03:30] tiger5226 commented on #306
Sweet! @nikooo777 One this is in the release we can take out Chainquery as a dependency of the e2e test.

[2019-09-04 04:10] BrannonKing opened #311 "releases before v17 showed CLAIM_NAME in ASM instead of OP_NOP6"
v17 upstream added script_tests, which tests break when changing this. I verified that the old code did indeed modify the strings in script.cpp. See
![image](https://user-images.githubusercontent.com/1509322/64377424-a68a7e80-cfe7-11e9-891c-ba5c2e5e3eae.png)

[2019-09-05 14:05] nikooo777 opened #313 "Suspending system crashes lbrycrd"
On my Kubuntu 18.04 system
[code]
I left lbrycrd running before suspending the system to RAM. After resuming I found this in the logs after realizing lbrycrd had crashed:
[code]

The expected behavior would be that it continues operating normally

I had to reindex the whole chain to be able to start it again.

[2019-09-05 15:42] BrannonKing commented on #313
Was this version 17.2.1? And was it an official build or a custom one?

[2019-09-05 15:51] bvbfan commented on #313
You use wireless or wired connection? On suspend network is suspended as well, when you wake up connection can be up again (if it's a kind of VPN it can take a long) say if network takes long that have in wait it will throw. After all on exception we should flush data as well, if we did data was corrupt.

[2019-09-05 20:19] BrannonKing commented on #313
We cannot flush the disk buffers when any arbitrary exception kills the process. The exception may have come from the disk flush itself. However, if there is a specific one that we know doesn't affect the data on disk -- we could catch that one and restart that component or shut-down cleanly.

[2019-09-06 20:12] BrannonKing commented on #306
Merged via https://github.com/lbryio/lbrycrd/pull/303

[2019-09-06 20:12] #306 closed

[2019-09-06 20:12] BrannonKing commented on #203
Merged via https://github.com/lbryio/lbrycrd/pull/303

[2019-09-06 20:12] #203 closed

[2019-09-06 20:13] BrannonKing commented on #268
Merged via https://github.com/lbryio/lbrycrd/pull/303

[2019-09-06 20:13] #268 closed

[2019-09-06 20:14] BrannonKing commented on #267
Merged via https://github.com/lbryio/lbrycrd/pull/303. It doesn't report all changes, but it does report the ones that were queued for that block.

[2019-09-06 20:14] #267 closed

[2019-09-06 20:14] BrannonKing commented on #92
Merged via https://github.com/lbryio/lbrycrd/pull/303

[2019-09-06 20:14] #92 closed

[2019-09-06 20:17] BrannonKing commented on #107
Merged via https://github.com/lbryio/lbrycrd/pull/302 and https://github.com/lbryio/lbrycrd/pull/303

[2019-09-06 20:17] #107 closed

[2019-09-06 20:18] BrannonKing commented on #271
Merged via https://github.com/lbryio/lbrycrd/pull/301

[2019-09-06 20:18] #271 closed

[2019-09-06 20:19] BrannonKing commented on #166
Merged via https://github.com/lbryio/lbrycrd/pull/308

[2019-09-06 20:19] #166 closed

[2019-09-06 20:20] BrannonKing commented on #310
Merged via https://github.com/lbryio/lbrycrd/pull/303

[2019-09-06 20:20] #310 closed

[2019-09-06 20:25] BrannonKing commented on #309
Merged via https://github.com/lbryio/lbrycrd/pull/308

[2019-09-06 20:25] #309 closed

[2019-09-06 20:26] BrannonKing commented on #211
I propose that we start a new file with each run, and that we backup the old file. Hence, I should always have this run and the previous one available. That's not quite a "roll" of logs, in that it won't fix the maximum size while the daemon is running, but I think it would help.

[2019-09-06 20:28] BrannonKing commented on #196
Fixed via https://github.com/lbryio/lbrycrd/pull/308

[2019-09-06 20:28] #196 closed

[2019-09-06 21:22] BrannonKing commented on #313
I'm unable to reproduce this with `kill -STOP/-CONT`. I'm unable to reproduce it with a few random suspensions during sync. I like @bvbfan 's theory about the slow network startup time. @nikooo777 , if this is easily reproducible for you, I have some things we can try. We can try builds with a few different versions of boost compiled in. We can also run a debug build and get the core dump, so that

[2019-09-06 22:10] BrannonKing commented on #269
getclaimsintrie is deprecated. We're going to wait for the next "queryable" version of lbrycrd to do this.

[2019-09-06 22:10] #269 closed

[2019-09-06 22:15] BrannonKing commented on #188
If we import the data (claim names & values & supports), but it's all tied to the same user (with millions of addresses) -- is there any value in that?

[2019-09-10 11:47] bvbfan commented on #311
#314

[2019-09-10 11:54] bvbfan commented on #293
#315

[2019-09-10 17:39] BrannonKing commented on #311
Merged via #314

[2019-09-10 17:39] #311 closed

[2019-09-10 17:54] #293 closed

[2019-09-11 11:13] bvbfan commented on #104
#316

[2019-09-11 15:21] #104 closed

[2019-09-11 18:07] BrannonKing commented on #307
The current plan is to move this from 3000 to 1000 sats in the next release. We think that 1000 sats was the default in the v12 releases, but it may not have always been enforced the exact same way.

[2019-09-11 18:28] BrannonKing commented on #294
There are off-the-shelf wallets that support BIP44. Are any of those sufficient to cover this need? If not, is it because of a lack of LBRY support in a particular wallet? Would we do better making a certain 3rd-party wallet work with LBRY?

[2019-09-11 18:36] tzarebczan commented on #294
If we don't want to ever support the same keys on torba and lbrycrd, then we can just close this.

Maybe new torba wallets should use the format to match lbrycrd? Not sure if that makes things difficult to track with the two formats. @eukreign ?

[2019-09-11 18:36] BrannonKing commented on #294
Relevant:
https://github.com/bitcoin/bitcoin/pull/15414
https://github.com/bitcoin/bitcoin/pull/8723

[2019-09-13 22:18] #272 closed

[2019-09-13 22:20] BrannonKing commented on #307
merged via #317

[2019-09-13 22:20] #307 closed

[2019-09-17 02:40] BrannonKing commented on #242
I put @kaykurokawa 's suggested fix into master. It now disables the minimal push validation on claims.

[2019-09-17 02:40] #242 closed

[2019-09-17 12:37] nikooo777 commented on #313
Sorry for the delayed answer. My PC is wired so I am unsure why this would have happened. It was also the first time of me seeing this.
Is this related? looks like so: https://github.com/bitcoin/bitcoin/issues/14200

[2019-09-19 11:29] bvbfan commented on #313
I've test it, at least 3 times and can't reproduce with my settings
WiFi - auto connect (priority 0), no VPN nor proxy, stored password no explicit user input.

[2019-09-19 17:05] BrannonKing commented on #285
Waiting on https://github.com/bitcoin/bitcoin/issues/14200

[2019-09-20 22:02] BrannonKing commented on #132
I'm not planning to do anything about this at this point in time. The fee estimator relies on other data flowing through the mempool. The whole thing is painfully complex, supporting multiple "horizons" of estimates. I can't justify the time to work through it. A fresh node with no mempool history could wildly fluctuate on its fee calculation, having not enough data to make a good average.

Also,

[2019-09-20 22:02] #132 closed

[2019-09-26 18:41] BrannonKing commented on #144
I think is sufficiently covered with the move of the claim logging into its own category.

[2019-09-26 18:41] #144 closed

[2019-10-20 23:43] gahag commented on #211
@BrannonKing can I work on this to implement what you described in your last comment?

[2019-10-21 13:35] BrannonKing commented on #211
@gahag , yes you can work on this.

[2019-10-21 22:31] gahag commented on #211
I've explored the code, and I'm thinking of implementing in `BCLog::Logger::OpenDebugLog`. The code would move the debug file if it exists to a `.old` file. This way, there would be one file for each execution of the entire application. Another option would be to implement such code in the default constructor for `BCLog::Logger`. What do you guys think?

[2019-10-22 13:24] BrannonKing commented on #211
Look at the top of `AppInitMain()`; the "shrink" code there would also need to change.

[2019-10-22 18:04] gahag commented on #211
Sure. What are we expecting to be the new behavior of the -shrinkdebugfile flag? Should it be removed, or should it shrink the old log file?

[2019-10-22 18:57] BrannonKing commented on #211
I think the flag should be removed.

[2019-10-24 18:13] Leopere commented on #211
This looks like it should've been closed by #344 I don't have time to really validate this functionality but if people see this PR didn't hit the notes that this thread evolved to hit then please feel free to re-open it.

[2019-10-24 18:13] #211 closed

[2019-10-29 20:21] BrannonKing commented on #200
It's no longer part of the build.

[2019-10-29 20:21] #200 closed

[2019-11-04 17:10] i-sanjay-kashyap commented on #144
I want free swag t-shirt. *Fake crying*

[2019-11-18 17:20] BrannonKing opened #354 "Update miniupnp to the latest version"
So that we can avoid security issues in the present version.

[2019-11-21 15:18] tzarebczan opened #356 "Adjust default max fee"
Longer claim names use higher fees - we should adjust the default max fee policy. Some miners and our servers are running 0.5 LBC max currently.

[2019-11-25 11:30] nikooo777 commented on #313
I had this happen to me another time a couple of weeks ago, but it's rather sporadic and probably not worth investigating further as a node will not likely suspend every day.
The issue can be closed if you agree.

[2019-11-26 22:17] BrannonKing commented on #356
included in #355

[2019-11-26 22:17] #356 closed

[2019-12-16 18:58] BrannonKing commented on #233
This scenario is now logged. I'm going to call that good enough.

[2019-12-16 18:58] #233 closed

[2019-12-16 19:37] BrannonKing commented on #354
After looking at this, lbrycrd uses the miniupnp client only. I see no significant fixes listed for that.

[2019-12-27 15:03] ekxoiner commented on #162
Hai,

Saya baru saja menandatangani petisi "Presiden @Jokowi, Bantu Muslim Uighur
di Tiongkok." dan ingin tahu apakah Anda dapat membantu dengan menambahkan
nama Anda.

Tujuan kami adalah untuk mencapai 50.000 tanda tangan dan kami membutuhkan
dukungan lebih banyak. Anda dapat membaca lebih banyak petisi dan
menandatanganinya di sini:

http://chng.it/qYKHkGdH9b

Terima kasih!
Wahyanto

[2020-01-09 17:01] BrannonKing opened #357 "TX_MISSING_INPUTS is ambiguous"
The TX_MISSING_INPUTS error makes it sound like the person creating the TX forgot to include inputs in that TX. However, the error is actually issued when the TX's inputs don't have corresponding TXOs in the history of the chain or if the TXOs have already been spent. We should clarify the message and consider breaking it into spent vs missing.

[2020-01-09 17:03] BrannonKing commented on #357
Should the error state what TXIs were already spent? Or should there be a way to query via RPC for what was spent? Maybe the unspent Sqlite table is sufficient for that.

[2020-01-13 19:16] BrannonKing opened #358 "customize the wallet flush"
Add parameters to change the wallet flush rate. Separate out the disk sync from the lsn_reset.

Questions:
1. Is there a newer version of BerkDB that doesn't rewrite the entire DB file when lsn_reset is called?
2. Or can we put it in a "don't need lsn_reset" mode?
3. Should we call the vacuum command at some point to keep the file small?
4. We could drop BerkDB and ship a copy of db_dump to migrat

[2020-01-15 21:33] BrannonKing commented on #358
BerkDB does obfuscate the file out of the box, but it runs lsn_reset every time it flushes, which effectively resets/disables the machine-specific tie.

[2020-01-18 02:55] tiger5226 commented on #358
@BrannonKing I think this is the real solution https://stackoverflow.com/a/23475187/2038176

I think that call is just really overzealous. As long as we have the log files we don't need to rewrite the whole database with an `lsn_reset`.

So the moral to the story is don't allow `lsn_reset` when LSNs don't match. `lsn_reset` should probably only be called when the dump wallet command is called, so

[2020-01-18 03:01] tiger5226 commented on #358
Also I would probably never switch from BDB to SQLite. SQLite is not really meant for large amounts of data whereas BDB is. https://www.quora.com/What-is-the-difference-between-SQLite-and-Berkeley-DB

[2020-01-18 05:45] BrannonKing commented on #358
As I understand it, if we remove lsn_reset from the flush and you have a hardware failure then that wallet will be lost forever. Is that acceptable? Can we set up some other kind of wallet export & backup that runs once an hour?

[2020-01-18 20:48] tiger5226 commented on #358
If you review the [documentation](https://docs.oracle.com/cd/E17275_01/html/api_reference/C/envlsn_reset.html) that is not what it means at all. Thats what someone said on the bitcoin forums. The lsn stands for log sequence numbers, and it uses that to know what additions there are for the for the file, to exactly avoid our situation. People use BDB to store terabytes of data, if they called lsn_r

[2020-01-22 21:08] kauffj commented on #358
@BrannonKing @tiger5226 seems relatively confident this `lsn_reset` change would solve this issue and not affect existing behavior. What is the work load to either make this change or ship a version with a flag so it can be tested?

If we're uncertain about safety, it seems fine to run a test build in production on internal APIs before properly releasing.

[2020-01-23 08:27] bvbfan commented on #358
Possible solution in #360
I research a bit more about lsn_reset, it actually randomise the position of private key
`bdb might keep bits of the unencrypted private key in slack space in the database file`
as we can see in wallet.cpp.
In other hand `txn_checkpoint` is needed to be called at periodic time to ensure all changes since last checkpoint are flushed, in case of crash unflushed data will be

[2020-01-27 16:11] BrannonKing opened #361 "ability to run without claimtrie functionality"
Can we add a parameter to make lbrycrd run in a "finance only" mode? Something that would avoid creating the claims.sqlite and avoid computing claim hashes during sync?

[2020-01-27 16:14] BrannonKing opened #362 "claimtrie RPC methods need to return the block height"
We need to return the block height that was used to process the RPC call.

[2020-01-27 18:37] bvbfan commented on #361
We should adopt validation a bit for that, i think.

[2020-01-27 20:41] BrannonKing opened #363 "percentage markers for loading the block index and validating the claimtrie"
Those two things tend to stall a bit on startup. It would be nice to have the [0%]... output for them.

[2020-02-01 05:20] BrannonKing commented on #358
Fixed in 17.4.1

[2020-02-01 05:20] #358 closed

[2020-02-20 04:22] tiger5226 opened #367 "non-selectable socket created"
Still getting this inside containers for lbrycrd. I can't run lbrycrd in a container after initial sync. If the container goes down or if its stateless and is recreated, this error pops up and crashes lbrycrd. All versions 17.3.2.1 and up.

[code]

[2020-02-20 04:37] nitronick600 commented on #367
I'm getting this too.

[2020-02-20 06:15] bvbfan commented on #367
How this can happen
https://github.com/lbryio/lbrycrd/blob/master/src/compat.h#L114
I suspect using an onld build or build that not include these changes

[2020-02-21 14:28] nitronick600 commented on #367
@bvbfan I'm just using the binary from the v0.17.3.2 release

[2020-02-21 14:41] bvbfan commented on #367
Can you use v0.17.4.2 where the fix presents. It needs full reindex for SQLite backend.

[2020-02-21 14:50] BrannonKing commented on #367
Don't use 17.4.2. It has too many bugs. I'll post a new build shortly.

[2020-02-22 02:18] tiger5226 commented on #367
Confirmed fix is good on 17.4.3 release

[2020-02-22 02:18] #367 closed

[2020-02-22 17:05] tiger5226 opened #369 "Remove txindex from docker setup"
When using the latest release v0.17.4.3 I noticed the following warning in the logs:
[code]

I created a PR that removes the references to the docker setup and configuration where this parameter is set.

[2020-02-24 20:38] BrannonKing opened #370 "RPC calls ignore locktime transactions"
Enable address decode and "is mine" for transactions containing the OP_CHECKLOCKTIMEVERIFY and OP_CHECKSEQUENCEVERIFY prefixes.

I'm not sure if should report something as spendable when the timelock has not yet elapsed, but we should afterward. Right now the "watch only" flag is required to see these.

[2020-02-26 20:48] BrannonKing commented on #370
listreceivedbyaddress shows them if you run importaddress on the redeemscript.

In reviewing the code again, multisig addresses are not considered non-standard. They are first-class citizens. Therefore the "is mine" code correctly handles them. The timelock stuff, on the other hand, falls down the "nonstandard transaction" path. Therefore, it is only monitored if it is explicitly marked as "watch

[2020-02-27 02:39] tiger5226 commented on #369
merged

[2020-02-27 02:39] #369 closed

[2020-03-05 21:22] kauffj opened #374 "Performance issues with large wallets"
(Not going to try cause like 6 people understand better than me)

[2020-03-05 21:25] kauffj commented on #374
Blocking https://github.com/lbryio/internal-apis/issues/1176

[2020-03-06 19:34] BrannonKing commented on #374
The wallet performance regression was fixed in the v0.17.4.4 release. The other wallet performance issues stem from the inherited bitcoin mess-of-a-wallet. I recommend that you batch your high-frequency sends and utilize the sendmany RPC call once every five seconds.

[2020-03-06 19:34] #374 closed

[2020-03-25 19:38] BrannonKing commented on #354
Follow the upstream bitcoin version.

[2020-03-25 19:38] #354 closed

[2020-03-25 19:42] BrannonKing commented on #126
While it's true that using a custom read/write recursive mutex was workable, it was a fairly large enhancement on existing code. It wasn't clear that this was a maintainable path going forward. With much of the data now easily accessible via sqlite, this seems less valuable. It could be revisited if and when upstream no longer uses a recursive mutex for cs_main

[2020-03-25 19:42] #126 closed

[2020-03-25 19:46] BrannonKing commented on #193
At the moment, items 2, 3a, and 4 of the original list have been done.

[2020-04-03 14:00] BrannonKing opened #377 "ARM64 CrossCompile is broken"
Bitcoin v19 has support for ARM64 cross compilation. To make this work on lbrycrd we need to add the necessary ARM64 compilation flags into icu.mk in depends/packages.

[2020-04-03 14:04] BrannonKing opened #378 "provide an official asc file rather than listing SHA sums in the release notes"
Make an account at https://keybase.io/lbry and provide a signed asc file with the release (like the app team does).

[2020-04-03 14:07] BrannonKing opened #379 "performance on AMD and Windows"
lbrycrd runs slower on (modern) AMD processors than it does on modern Intel processors, even with SHANI enabled on AMD. It may be that some of the hand-tweaked optimizations are specific to Intel. This should be explored.

lbrycrd runs slower on MS Windows than it does on Linux. I thought it was an issue with the cross compiler, but it's true even when compiling with MSVC. In fact, the cross compi